/*************************************

GENERAL

**************************************/

body{
	background-color: #0ea6ad;
	font-family: 'LHFGloria';
}

.content {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    border: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #dcdee2 0%, #6b6170 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #dcdee2 0%, #6b6170 100%);
    border-image: linear-gradient(to bottom, #dcdee2 0%, #6b6170 100%);
    border-image-slice: 1;
}

img.logo {
    max-width: 60%;
    margin-top: -23%;
    margin-left: 5%;
}

h2{
	margin-top: -10%;
	font-size: 3em;
}

p{
	font-size: 1.5em;
}

#email{
	width: 60%;
	font-size: 1.5em;
}

ul.social-media {
    list-style: none;
    padding-left: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul.social-media li{
	display: inline-block;
}

.submit{
	font-size: 1.5em;
}

a.contact {
	margin-bottom: 10px;
	font-size: 1.5em;
}

.social-item a i{
	width: 25px;
	height: 25px;
}

.social-item a{
	font-size: 20px;
	padding: 5px;
	padding-top: 10px;
	min-height: 25px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100px;
	border-radius: 100%;
	background: #0ea6ad;
	color: #fff;
	border: 2px solid #0ea6ad;
	
}

.social-item a:hover{
	font-size: 20px;
	padding: 5px;
	padding-top: 10px;
	min-height: 25px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100px;
	border-radius: 100%;
	background: #fff;
	color: #0ea6ad;
	border: 2px solid #0ea6ad;
}

.transition{
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



/*************************************

FONTS

**************************************/

@font-face {
  font-family: 'LHFGloria';
  src: url('../fonts/LHFGloria.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LHFGloria';
  src:  url('../fonts/LHFGloria.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAFVMAA8AAAABPIgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABVMAAAABoA
AAAcXC4jQUdERUYAADnYAAAAKQAAACwChQGMR1BPUwAAOqgAABqIAACV+JVIZcpHU1VCAAA6BAAA
AKQAAADSTq9UME9TLzIAAAHMAAAAVwAAAGBYLhe4Y21hcAAAA5QAAAGkAAACEv3CiqZnYXNwAAA5
0AAAAAgAAAAI//8AA2dseWYAAAbEAAAXeQAANGxaVbNsaGVhZAAAAVgAAAA0AAAANgbe5+hoaGVh
AAABjAAAACAAAAAkBc4C5mhtdHgAAAIkAAABbgAAAxQDIwqYbG9jYQAABTgAAAGMAAABjNrG58ht
YXhwAAABrAAAAB4AAAAgAQwAO25hbWUAAB5AAAAaQQAAZsCuLJsHcG9zdAAAOIQAAAFKAAABtJxI
44l42mNgZGBgYGRwPP/mvHM8v81XBm7mF0ARhkuFQX4w+v+k/5HM3kxngVwOBiaQKACIjw18eNpj
YGRgYHr3n42BgTn8/6T/h5m9GYAiKOAoAJZIBrh42mNgZGBgOMpgwcDKAAJMQMzIABJzAPMZABzr
AUgAAHjaY2BilGWcwMDKwMC0h6mLgYGhB0Iz3mUwYvgFFGVg5WAAUSwNDAz6DgwMXAxQ4OPhxsDg
wKDwm4np3X82BgZmR4blQGFGkBwTPxM/kFJgYAIAkAEMSwB42qWTPUsDQRCG3714BENEwVhck0IQ
/AARP6MRzkYQwUIULNNY2FlI0lha2FjEBEtLOxX8CRIUK/EP2AixEkGxCEiMz+5dkSIIauDJ7OzM
zsy+d6dTuZ9Z48+uD5U1Q8p6PdgE1lPGXCila2XVVMqEkIRZ9sjVG+yRg+/1KaM7zh3jZ+CcvHFs
FTZgH07IaUY1vBmlVWxVTF6ByXGuDjvMMoK/orTZVaAGvOIv40+wLrKelm8Wo5g5gFCBrWXPOTvK
nujRhS0DNT17x3yEPrE54vfubHSXuou5XDP2c3+9q5d7/a6/7b3e1n+O+KCCxBb5q7GWV+hT0CS9
fL2gxQI5U8Q+2D+i3yXPYx7KEBLPxXp1ogbcgRn73R0arS9nS61HlZTE1uDJnFE7nr8Tbv52mM09
n81Yq//0rv6xN9a7IeeWHB+NpG4XQ0dHAS2tZsPo46O3fXct8bvtGIAH5qxQbwm24ZkZ+Qa+ASbe
cFoAAHjaY2BgYGaAYBkGRiDJwMgD5DGC+SwMH4C0BYMCkCXBUMewmGEpw0qGdQwbGLYy7GC4xvCN
4T9jMGMiYwVjHeMkpltMd5j3KAgrSCnIKigpuCisUVT6zfT/P9AEBYaFQJ0r4Dr3MNxg+MEYxJgA
1FmLpFNCQQauk/H///+P/x/8f+D/vv+7/u/8v/X/5v8b/q//v+5/zP+A/1b/zf4r/73z9/afdQ+W
Plj4YMGDOQ+qH4jcn896EOIL8gAjGwNcOyMTkGBCVwAMKhZWNnYOTi5uHl4+fgFBIWERUTFxCUkp
aRlZOXkFRSVlFVU1dQ1NLW0dXT19A0MjYxNTM3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fP/+AwKDg
kNCw8IjIqOiY2Lj4hESGktLyysa27gn9EydPmjJtxvSZs+bMnjtvwaKFi5cuWbF85SqGzOQUhn0M
fRnpBxnSGMraQc5KzYI5cOqy/CQGYCCDQUFx67r1wODeu3MXA8PaTfsPMDAcOszAsJuBoaiqsLqi
tq6+prmFoamzq4OBYTtQ/bZsIAEAnq+RgQAAAAAAAAAAAAAAGgAuAF4AqADuAToBSAFgAXoBkgGy
AcwB2AHsAgwCKgI6AmICmgKyAtQDBAMUA1IDggOYA7AD6gQCBCAETgSaBLAE6gUGBSIFNgVIBWgF
gAWOBaQFugXIBd4F8gYSBjIGcAaSBsIG1AbyBwQHJgc+B1QHZgeKB7gH0ggQCBwIQAhWCIQIoAi8
CNAI5AkECRwJKglCCVgJZgl8CZAJsAnQCgQKJgpUCmYKhAqWCq4KxgrcCu4LHgs8C4YLrgvKC/IM
LAxQDHAMpAzSDPANCA0qDVQNkA3cDgoOKA5GDmgOlA7EDvQPFA9MD2gPhA+kD9IP5g/6EBIQOBBc
EIQQqhDQEPoRLhFoEaIRyBHuEhgSUBJsEo4SxBLiEwATIhNOE34TrhPOFAYUIhQ+FF4UjBSgFLQU
zBTyFSwVVBV6FaAVyhX+FjgWchaYFr4W6BcgFzwXXheMF7wX7BgoGGIYkBiwGNAY/BkaGTYZNhlE
GVIZbBmAGZQZphm2GegZ/hoYGjYaNnja7VsJcBzVme7XI2l0WBrN0dNzSD1HS9OSRnNfOlsj9UjW
bcmSZWzLcgy2jIRsy7ENtoC4wCHFsmyICRBDgWwC2ewGSDbBJqRCSMoGk7AxCUuyyW4gdgKuEKiQ
GFLJGqP2/u91zyHJIeTYqmQLSTMazbz3H+/9///9//+eKJriLr1LTdE6SkOtoKiEJqLRRuNhs6nA
7fHkp/I7WM5s5tjt6LPyxGC52exkzBTMQRuRlszRUpQxEdFG4MG1p/rq4IE2fgW+KIrKozjqOPo1
7YRROoql7DA2ohcYXs9WYfrAp8BdYDKH49H8mIv5p+qd1TvRlWtvWLv2hvLxtrbxNnktepJm5Ze+
+hiqf+KKuSvgh5cmOjomLnEc0NcA/UnqHG2hBKqeCgF1bTgeCZsdiPHwbh3iaMZUoGX4mFuImZtR
zE/HovFETGtiYwWsR2DiRxC9QqOzFxQYq7TF+YzFXOOqdNhNzgI7xwVqPB7PBsSYaUsFKtBoQnr6
8Ipyl8kdKqx2lwTKtpQZ/ZzQXFp1t9O6j3nOULpSByJR+ZSJotBbsDZFVCllodyUj6IMpgIeqxsJ
JxCPCqIgXQFjMkfCeZkPzNk335HqfZLkq78ov51CZf/mMDEOB2NCY+rb2vQb35xubZ0WDQvnad3R
uNNRYXfMk3c+qfwBYlDFly6gh2iGilNUtRZYCWUI+OFV8KMYZssyKttmxKT5xxPwnjaGhYqE0UNI
ZykzFW1IdqznbQ7f5l4v5xY8rS2CTif4glWeOJ1fGOAcIUvKYHtW1Oa3DA21e1K6Mqm6e7QkWRKs
rw02NfIeb9iLXB0WE14jhO2HeojYD7EeTrUa8lkxPL8Gn5XCZ3wsEoswPAMPPV/DcU/t37lTQkXi
t8XbRPn3VHo88sB4XWY8PPS8Xpkh7ZPgB+nEEydOLJxHOvl8msdbypwIjMtyYSJvneK4b8zt3n0Q
lYinxFvF02kecRhvAB4sCAwmxgtgQXwMz51Gu/oO2MwT3cNsRQfH0brXXnvPHDz9pXDRG78SXyP6
XvohNUV1Yp1YvPxhM7ZMIR6LW8C/vFYNoymygneVs7XFGl25ukZ66iW0iqwRcHnp+HGkF+F9E/jr
JqBVCN6a9lST4qUO1UGpXJmNMM4Y0ZgrER+LepEisz4yc+PALTOpxmiK41LvoAr51fzpgwdDx46J
qBLPp4HPBfQe2A72XYpS/dUQ9RCPRe/d+cyddz7Tu+22bdtuQx9/99Chdw/Jn356586ndxLZYcYX
aDt4A/hkLKHnJ7tvT6E7ksPXL5zDn2MfuRFoW2H944l4AlNlTKzWQ4ySLE6E6fg660Zt4x2rvdtn
erpnOnff/YY7Xl3fIXnHjNH6XUMTE0PR2Y+3UcqaIAroCcAvlqbAIYa4VwDFsFXHoh4viikvwNS5
Cr5jvctaWbWlp9xRWFjOBbtiHp3OHW4QCgX0fLJkqL2qqax0pdCzPo9GYn4sUBtp8TuFukJYG7y2
h+lK2IMS8CwX0mPT4YVIDJnk36GB9nbp1lsPoHn5qHjgG18m8l1ANtgLhtg7w2vxtvFCWi7ebXN8
/aayVZPXDYtMVWyoM1CFKt5p2jz18A5te2FPItap7scBoFGMVzduykwVRKQoTDxbRAmmDK0Tg6Fk
MhSsKU/YuqZm+gcmm24Yad72sy2pzlC402Jgt/f1zuweHvzUNUVi/mbFXvCetAH9fGJvLg3/6veQ
98t96EVx4TyOtZj/NtoM9sRRtTBG3SlthnXCw+JYrixvIvuSX5ds3xDv3LKy60op2tg02NwieJp0
gVQ47HYF0S0ta9a0iIFwn7RpItUf9j3ii0Z9tZHoCaff7/R4vYotgmw30SZFdyobKtl0PCOiwB8x
EaGmjPINVqz86OaWG1d3rUf1qvZGZga03zuy5u4rmzSblsacBPEONRpkYg52C/GMeGxp7Ijljs7G
DnX4tVj2FZcepGvBNisoD/Ej2DGQPMHgRVPjLEuicViLXQu2Neqha+dni/MGTfXVFnv1XVV2S1V9
cf6GvUfOzo7s2TOyes8edN3ZeaRn1xQ3FNssyHznptn55L5H98EP1ufSnZfuoMZBRozo+ojeVOBV
fMAqbeu2m4p8rS3oJdm3crINdRD9rbC3bhgPkacae3oMTyIWpo8g98COQclTYROk6+Ld3XF0WL7a
zldb0WElTnDEthmwbQgcRiHtfRBnRA0xAIMapRyI4/tmB1amLAF/ZW/MkW912mxOdFos3jCSnDB0
b9fouTgfa5Rb8ftWQptKoOfQ64DuCRATgrQpEo5ltz/BFuRsP34tXAZPUUWN2z/ct3LTppV1vCUQ
33DgwIax/f4gx5cY3N5g0GszVxj1FRV6I9pQdtA73r3xqt7uq4we24F16w/Mbo4MWipsDYONc1GH
w2bliM540a6mXVQBoDxYgR3QgE8I2r6+Y8d6XYcOJOK0a+HMTPPjj4PfgCLE98soG7YAo2qqxG+8
yAhmEyYLZcTxifxhnRQ3ul3lrX0dE1cwtrwVTqupia9ihFq60Fi2gtZt6PJ12rW8FEyh7/2ILmMD
Dm9C/qLNfT3SltjIfsK+owDw1AM/FdvxMikgP7p31GDYdfToLoNh5FqUN7JbvG/H9vvE/aAXlvUj
ME8L0mJkjHDIVACCCfpwfEOHdM299w7PDA3N0Dp033/fh7Sje5E8sxfbD3A9A/NKlFlpfzhz6qn9
H/3oQVqn+IIy7ockN6ISTHrguASjjh0jo1TZ6xXcQhE1KWGxnzFka5ENxN492t5wvXH2gXlal9y9
pnunfq/49uGf3kupPBCryIIA2nnMB74RS1IBWrdwHvOSX1VwTpFpXM1FIGkYl/AQWkc+g1iI7CTm
UgkOsUAG29gqfXdQMox/yvJsQCpF31k4v3NM5VuljHXxAuEKsIuqej8mSXPdN33rW8D0P1Gd/EzO
euUr66WHlZJgmWS/Smcacma8RgIIZAct9CcmpX/9F+muz8nP0U75V8i4cBY1Er99C3IfJ8nCI3oN
DDS+Kj0vPQ8qnEF9ZPBxJQZdIDFIiy0ijeWLws3ZI4uDy/zZbEBR7MJBdIMMCMQNK8bLEOsFAtb+
ge3bB4rgKyjB+m1d2X314+jFM+0TSSVGrLj0MOFfiREaTEqbiYABhP1UhwTIOkliVJ0j1Z7xDh9n
Yx3GmuLi4aQrXlLCVFbPHzk7L7+dFlW79RabraSruDAvr1pfVCQypas+Ozs/P7FYdieJhSbV6pQA
xQJeYzZeNC71D+xoCV3Tu68o0JkKFj37LK2b7o9fwTxxduWWLiWPfg9ivoFywjqrGTOnwRHHI8RY
jHN+DY5C5p+V6uq7nD6/c3OKK6kV4hjDpvvAgpKaYK3VV13bxDetRhpR43db6qtrGt0d61DaBt8k
fkdsEBv7Q9LK/0AvygHAXzETo69TfDpBArNewV0Sqr9d1yFN9nRvk5KNnX50lfxA9zXTPfh3IIXn
UmAnVyv2BrlgCYocm+6FUPUEWrdwBsIYpYz5NU0puIY0glYTMSaECE52WSNNHevvP9Y7XdvZy1X2
ddVNg32dPX8erOvzt764d++Lt6J1Kg14alZ8D3xAy0M5CRQ0yNGbaOgd39c7OtK77667fowSv/2t
/J2c8YWYJyAGHo6ab5Su7x0ZBXd46t+/i6SLFzO0qYvKGkV4nBFrIm+++eAh+IElkoPEznBe5iex
liXIl7ZTjNMJYqsQaGsUY5W46aJSf7v0W2QHe508/oT4yitJfyCZjiHHId/g8H5jgIYHAxujgEr6
hRaHCy4osvbWCamSMbskjjE688ABKlyBwITci47abXZG3oCO2uwsI68FyRbVK0quQb5JoMrUKzh/
wBEKxyqce+E5Aqk/OKoO9FfSjhwg4TWXwREgt1UcdzvLW3o7CkzWDJB4agiQfE1EFgVK3Kk/BCXE
Lk5R50i1TbHA9ty5c01Nab9yg0+vwFktUgouPYFeLVRgZIGQWzooDcYTg6cOCnabgD4tb0da+QL6
dLy/Pzo0UCF4/gwsrSB5GoP3JqI6s5LqC2owEtIbffPUeHKgpSo8ttpSWRNp8BnLq+tgFfuj7TWl
vUFpfOGp8Gj8B3eHHZXC3yJm3iy+tAQzcWzIYuYOlC+DQ4ifFDOYf1nc1L8Pbv5QlL9IgHMpbpJv
XErn4CaunmndiRN/HDfx839dJv+8B+ef+hKf+CjEpvmc/DMXOzWEMwQeVNVzQJJmevYpjH/0ozep
v2vsNObiD0GfWBp+CHoGO6RA0fHjtG5yZfdWsS0YaFf4f5vwL8MWj7GT1apZbgYsE0KCFaGEAGEa
w03+nmB89kgGJa2WZv+g4AOobN/lSQQ7TSAewceCxlBfxbro2D4Fo/86OLlAcNKBYxQRSQFGdjFo
su5ayen3AUrWlum8IkbJqX57UoOCghVgEUByNE/U1NZavNVCo7v9bwkj36KbaQuxLzsdKdFEjk1N
Tfcdn5rCA6+U5/Fg1CN/lUxQ8G04Bw+NCqKi4d6JTb0HFTz8/veR6eKTT16k/jgevnHhXcScPv2n
4WENoedSVgRvYyXNZ/GjQMvRpDPk4T9enWisMUkAGi2bGuxak2tlFfPOgDcQe7mNtIXWdbavWkEX
1VUePGi2Z2IAKgKc1Ks4aVawUcFIgMaahMTVuRVAjMiD6EG73W6W14NEedivNH1g13rICuuoYLo2
ThdwGHK1bq3ZpFX8zKWaOmk0GKJCgYnV9M3PDre3rwJjn+1PpQZnZ/3+7m5vCNxQvh2bfqiuu7v2
rngshr2yrm4ePyXZgR8MsIp7mgeumR5g5Z8fbW1+uDm9XiGQqRxrpnY41FgIK5ZI41oNxjSANoBr
FdgA0OIquGnFIQXaqCW9ddYYMWrSHTtXflP+SqVrV4B76+g3OjPjNJvTvZhfUA/QEagYqUTMj3DX
OsLEMz1a8kJgpjyBgIddUVhU5KmtEYqKygp+kShtG2ov9XroUMDB1YVQSKEXvvQu2gp61eB9wnCp
pt+CH5EWRCvCfUycwbKMAImNiY0wJ5yWac5WVOaq4oMRp8fUnYiDk2rdgVaEuiCY+ARNJK9NW27T
F3aZU01iXFqLaDEv7mOtYrp2SoLuFpznqJ1S/FBSQgXs3mtINcIXNu/eGxoaGjZu3BitjFqwkctv
sNFKsoa0SL1A/wPYsJ7sibJ+mdYnpyziVuUXfZXSAtWlO6FK7uQlMcFG8emeTWxZ3gA7K6gOwhya
4rhFqUMQEodqoyy+lMkd5G+E67xxEecOd1MZX2sFPibcByE1DmkS80zG27QkRgN9VBMPlZdN9A3Z
KxR3e7g2FAyY0K7mdZZyywOf8Cv+dhJ1+bytL+P+FxqkztI2pRdrWHJ2crZltKVltESsrxe96Kf4
dYvFn/T5klkf3U2X4RhEMDFiR7g9fmpaiu3bF5MmfiN/hS6TX0eWhbeBC+5Vr6M+RVUQFIhoVazK
diq1Ple+oyZabS0uZZwVxvLiCk+d0x3SODWVZsZeRKnnPhRtpz1gA2Ww7ky6C5zPGzOdUiPi0Uhs
Wxhte/Z3wWBo69YheTyKHkZPB1o2yLsaUVh+zz9x+0FEKUmFhtD8KKHpwPuoUownsFiX6R5rgP4o
ph87VG4KpIItzqFVidhQZM2OK3MZfeYJK1fhCoVcbWWCa6Sls7PFM3xVIJPKqLq4aDfwrKcCVAR7
5LJ2snZp03mpplyhq7K22lpSUuELVbmN9ni302ywdoSq0N2L1P9MIN9RyfLeOo6vzgvkd8QrYiXF
9fZgc3TJgizpu1WnO2E4UJRpSN+LVu0EWS/beGtf2ndDJ9W+m0bNyU+TnLw0Nys3QjaQzcytvYnx
dHZOe+bmqPefC+aUnVva25OZix5dNPckzC3FvUh1riYRAbZaY6YoCI43jPcEApNqbYBemZsbGJAn
oETI0LgZPMVMorh6kJVuuGoy8iSZCvM4a7WydnaDuaIkW290+1dYS/0l5oXHMqUH2IFC936ilwGf
ZWY10yyLSlk9XYvjU1rj7y2JU2n63yR5pgXTz/FzRummZ2V/navnuPoCAAyn+Y6s5A/id7kVrL6c
Zcv1C1uy8it11hdI3WnA2UiMh3Qkkm7CCTEt+sILk96+l5+5aW7uH18YnYGCRZR/IgannntOiSMr
Lq0j9ZGQrY+Ey4QH5WQxp2oKeDSL4kVJ11hOGVXK5kaPLudNg6SsAnmNJM8/DTuKT/bAAIw5VdI4
WN531Urp9NzcQiTdYyR5LPXzzDywudx5q8Dq1qnzRmDeY5l5l2TS18e2B+uTNrmcqbRidIfV2T3Y
5ha+mp6vUeuS+yHOEgTIremW24da5T292DgILbphiWmAbK/A8yzRSc1+EyDdxlQp9j8Sqp7GDkTj
T6n7cscJoP/GlAH7GhmXIuMunYRxj4OuBB3VcVjfjakxRUtldBPWEXS79HMYfyfoplGqfTJjmU4b
U4kl6mAa2xZro5zl3ENyYnMWjXHNDDiswDATOdTR3IwrZ29yaGZmKPm6+EtcPL/+yN41UD4/otYr
pH67GTRlsxWcZom3k4ruW4scPbe+Q7tVV8eakTrvNPE/5nKVngArtKTa2wwbsLji+x9Y4A9CC/Zl
Ca0DsEmLaX0sh9ZJNS5cnhbeuyXknlc2cjHFPWRD0zRvJjRdl6W5ZB2XED+xaEUX88gsqZLjA5/7
CR+SfV2G0zI7WsLrsUVGtZjXg0tdJaMbA/HDjjkmtHxCSQzIwT1BZyPJF4weDbY3QWP+RGU0tP7I
7JouPpoYgZpieGRPy0KkbfWe+MVwdbW4am52PuTtHNo9O49e3jd2RQtq8chb9o2tbpafdaq2iOvO
08puL688cfTKVp8WMJplFSh9F4HAD0ALtMjSQmA0y2nZFtM6qVjOclpqlMuS61eMZjnFciUSkDhH
aN6f3tHLUF22o1kGoUWbuZxP67LYp9YRp5UaCmvPpivjOVD+jhtSpDiGYJ7KrY/TfZc+JWIpp03L
Oy9S0eLWS19LTu9FyZ17wZY8OFIl1AZrJu0T3FqN2vJUz8E/X0ErvdUqxmP1hrxCnzY/OZRKbhxp
7RPpwlK7we5pa/XViRCArkW3NQ+tH5is4ruDPR/mXB/mXH+PORfpUf8ZOZcy78/Pucj8bM5VSLpI
l+kO5BJbbBVpia5dZBQL96rE/5/lXOrdIRtVjStnIQEAb2YTbOaOlAKQnpxbE+fiLo/D0Rb1uZzh
+ORA/8xUV9K+oka9W4OOCAF7uaZJ63L62dDt3cO7Z3r7tju8v9vS2RkOdX6Yn32Yn32Yn32Yn/3f
5mcalbcS/205ZybLjRYlFUG+uCRcpmVaEjLVc79HSX/NQVH5fCxzMJG9K4yyp4CPnhqew+cQ+1cT
WJF3ps8Dx8bBHcbHoLK/Dh3OXNFT6T/2gek/dmo1oT+n0t+Rpr92I9CfuAJA6weL6eN+dB79OcBW
fOdGy+OjJ/b9Lq+gPMW6PH/gEsvnsI3dk3OTZRDfZKnLvcmC+eIW8AX6S8AX33ZT+GpyDwOVM4aM
EBcUrve66zqUM0Fg6kmoZ4L0lwjkjyY1yJc5G8Rsg271cHAM/TXsoFz+JdiB+YUXJpfZQTGpAXCO
UpZZR6OLXJGNoHpF+JT86k++hrifPEmfJPK2po/g/uL55C41GgLsxvcdYsQxYssPa3jsOJwQR7mH
NF1oc6uftw+UN+aczTQm2ltWU3/hmQJHt6Jiku8vy/W5xWDenUGbpff+IbJd2d7UR+vUe//v9z8B
f/r9+aX/owLceHicAo5OlSuh/UH/lwXvwz9Tv0cH8Ki4ak1c2/pkcv05/NSWOe/9saJDEeIR+jFp
6qdPE5R6cj+8rFLu/njIuZuIlMxdC9uIcQ9+ccpbnqmhNrq1137HeoOh5SrL4CZET/RYP9JoMIzd
9nnRXGoQhydFKS4WlpWYxGCjOJ7mIdBl2A/VuxRGfQQJsXsk+EFr5EfoMvmzaCITg/vU/1XJuV2i
3Od4av+Om1KZOyaoWD13wHNOkzm63DmI3MVQ7qVoTkkHMxPxL9kP7P4XvPbNNQAAAHja5T3bjhtH
dm1Ja69nd7wX7NMG2BTWQFYCaMrSei+WgwCjGY5EeDQzIDnSCgGCFLuLZFnNbm5fhqKRH8hP5Cm/
kJe8BMhX5A+CPOYtb8k5p051VTebQ1KX9QKxMDPF7rqc+62K5SAIfvnBPwUfBOa/f/kg5vYHwcGt
33P7VvDRrSG3bwcPbv0bt+8EB7c/4vb3gh/dfsjtD4OPbz/n9kdB5/a/cvv7wad37nP74+Dnd/6R
2wfBP3zPwvCD4BcfvuT2D4P7H/4Htw//8tPeJbc/Cf4q+ndu/zg4iP6X2z8JPlI/Bwg/uPMxIPAN
QYvtD4Kf3folt28Fn9w65vbtYHzrb7l9B/r8N7e/F/zi9k+5/WHw09uPuf1R8Ifbf8/t7went/+T
2x8HX9wZcvsg+J87/8ztHwR//eFfcPuHwd99+Jrbh39z+tH3uf1JcBYV3P5x8LPov7j9k+ATdRAc
B2mwCFZBFuhgGsyCIhDBw+Bz+Pdl8Bm1HsBvAf1mgYRecaCCHD4/hnEZjMBPHfh8BG9i+OvmyekT
vlfw9xp+R0EXoH8BfQfBedCHnyfBI+h1Ce9TGKGCkH5H8GwMMIngFJ4n8OxJUNLq+EZCrxCel/RG
QP8EPmfQfwGfNY0QsOoKfnC2OawqYEUF73GdCEaGXk/EQ8BTTf0R/jH08N9P4HcBOGnCKVyjmIF4
STO9gpbpp4kiCvpI+NsNguN0scr0dFaIh59//uVnDz9/8FAcz2QWq1w8TrOpyjviKI4F9clFpnKV
Xauoe/DiaHDeP3/ySFxmaaHCQkVivBKnaVI8KWUWCRmGaZkUQiVhtloUOk1EvsoLNe+KgVpkaVSG
9DDNRKTzItPj0nyeiGKmcxFawGDiZZq9EvBMx7GayhjAPgueAh8E8CAmDDXgE5w9PRVP4jTT0B4Q
kiW8RhYFAzUtYwmNusj4AjOh9hm0CyJfBj0V9I0qhuckGG1LP/IENGDyGepN0uxMFYXKZkpGSJ38
kXBwPiKq74DOXZD4Lvzcg06fQncNHEcZQzn+FF4/6D64Jz4906FKcvWpnbA5nZ2tbTlRyYgkycoI
dZRUyRJkZO4mnfNAFsgvKYpMRmougX3A17pcBTdOJZgfopUjwuNJUJ9WAMWFIzlJ5Na1EFERXMBb
TUZBE/rNmSMlLmJ9rXQG7/7fWozvVvFnJAsLIPh9+Lekf10CsCkjk0pCuoTsHAYXxeLR/fvL5bIb
VxIyQQHphun87Sa/7z27D9RymtWFGWfws2X5+9S6PyX16S5mi2Cr6Ivgij2ZaNgE9H1T8nQoOYr6
H4Kfw5/HJJMhCXsInNbwdsqygSNPYP4lPEMMzIox9XlVqSXKbEQylXjjtkGLay/h+Rjamvp1SL4S
klhJcmZhmZCMz9kaHQNMVsKNRqHsIla2vyRIULdCkvBrgmhBWvYKfqOi4/ohQyNppFstZS2ckLzb
+GFFuAoab2iJ2KYezgbbOVHGadgmaiAEPvd6TMd9uIhWYFRpsbPYFrOMcC6IUgjBkkYntLbDx6y7
jWNdsmoxvTHwJGzhDJ6S1ilaoIkbeCDVEIKSPzuK50Q3hFMSpkj3czDFI4+rTRpYWhs5RehzgmHR
oE4TCvM0obU/Y1ol5PoVtceEK87Rp/ktvSLiucF9N2moS0/m0U6Q5GIvzbSPqnnKilpmvtOKSsMG
ldY5k1X8a5PNkMdNKCSKAbZHxI/P3uE/X7rXIca3o614OaohVnHNlxoaNXk6vtGa4aqb7dn7tT+4
dt0CiT3tj5FXy0/UlJjtWsYQZPB2VenDLvo8akjHzdzQFJXEwJGIQyXEdMXyFpMFMNxBHQmhn9VR
WcUeBpM508BgJgH6BfPM9cw929RGky5ZxLzSlIgh9G3QusXstOiE2MG3zulpUkVLcSWPhr8x0WHb
PAb7opolqUVnKdkuh7UkjpoYrj5WAh0MJbRHdRN7LGi89uTGjikJcxOJfFtxqhkjNqGwGbLBOKt4
ZmE0EmBobqLZBUO+oghyRnydQXtG9qmptU6bt3PBrma0T3JGX/e1mnorj0Ml9WzTlHotAKHLSXJ9
qi6JgrMdLfH7sKNnpDG6gqgeF2CPK8DKxF9I+9Wab7SQW29nrT/y0Hq6dWs6Ic3p7MSZKftP88l5
O7emCl6z9chZZzo7+N8Ow+Xj71eC9vWVLpVcsDRjT8lylHnyk1XPxwxzQpqQe+sZ+2+xrUfAbZ49
IZs45vjO2ummNhyzHpcMh5HNgumZs6ew1EE7mjL9F6xtBu6YZFl6ed9dLyJtrnrW6H1vg4ewuPsW
0XCh7j19GxHSWnnNg93EozHbFMx/rV8MOWmXHAVkHGcnTJdX8GwFI1Mvq8b17zNfr8kmLtcynIik
SRPe31aW9Oa15tTWbC1F9dvMmXER4Zpp3K2yrdF7kQ3j6x5ulBJceV0WSoqCLFesDCPeJl9KARYb
myimZ5uNsLY4Ikra+VEGrO3ahoGJX1Oyys4ahS2Yzsm6mWymGY/4tlrXNLGNsm0c2I3axosgb6PK
e9nsJ6c6zIx67YKPlfcF2TRTXdMcS7ioxmVWu2muk7eXzFVLN5t1NDV1F5100m9jMOFVzrMaHULS
PYTAcMq3AAbma64z2pX7ntVV7LmaOoUepG6ZE85qbZXKr5C5bKCN7glHKpln73OPQk5f3oYH7zoS
6LEcG10zdmxAdDURXOhFz5v61yOCbfG+sewu+8rY8oUtUb61RSbXwZ4ziiqt534/NLls0WSzZ2Ri
4Jv0AOumfuahKrmzFdHdKGViG0XVWsFRbkLRU9Sa02uvH45dcJSds+63WaexF2fnG6tBTym/VayT
fuXB4o5/XxEUD2p47i4Xkyr7Nfks0lCQhmVk93IvP4s58l7HJ/R4VIfyFccXJcl1M092MCLlbH1r
vYLd2bBzIat6pbMsNjPICJ6C+jo50Wy7fAtnclZFPZ1t9OONOqy75tWuhmB3K3fNrN+PdvU3ZlOX
a9nUwMumfK0zUpKQZMaEx5S9go0P/RrarGFrb6Kcs+M3y5efsbrsvykb7yYH7Hh+/U1yUlvHdDq/
SyXH0npCWugk++1ob/xKyRBb7MxmmakyfFuLKe2sIe1Jqb2siv17TZQpvcjJccpEHCH1LGqe3LcJ
9SzT2o8JR2wJwWuor+l5SrIj1/bH9qmg3azfLm5s2xEMW044tNkEK4UpxTJ+Xlyvr5lZrzhDMSsN
uZexY21nKs7g/bKqgro4y4/oDS8UPV3VYuG8ijucrqENqNf2XKUB18rXrOQ3JGU4W1SLZixHjP/c
Ht++vfdej/JNtcRFuops4M2xRxuFBNEhJdk0mnsBvEJf+QQsaA/+oVQ9hc8j7+0LsMRn8M/thzyD
vyfw9BT6mPMtJ/BzCe86NMMAPp0Dtmc0U4/7nFF7wPMMCF5c1fTB/T582w+e0xP826PVse/XMBtu
jJ8yhD2i6wXMNCK64psR74X3aridwu8Bjxm8Aa7Y9zmNHdKYHu2z4257j552GPJj6P8MaIDje97T
AcxtKYM0G8KKQ5rrWfC46mspMqRZvybYLqoROPdzht9iPySIB/CuR5S8oPX2o1F/x75mfnx3RJgP
iQ4Ifw9WPeGzB3iYoQ99hjXKnsGzZ/TcrXRM0nJE/c/oXR+e78PhjsezZ/DspcexY1obITL0GDSk
z85+Ewbrev523szVsIwea/I1ReUn/NMOzZ0O36OZ+o4ki2qi4LyyEYvGCQy7juJ9DLuTtFvGnXk1
b1tRWD/DsT0e0ZV3XlXx+7x67tfoXQVjM8b1KoxfuTXzIq6d2hs/gnX1IkkW1+3c1P1dZw+PtxnW
dsxl5WPr2O/ClTr2Jra45vjNZLnvKxqb8L5T6lUxfR8mqc5hDzXZOtd6Hr5N/nPeD77LZ8z6e1QM
cq7lYeQ4pEhNs18dUTXX5p037/mvbvDrjtr7VjFGFMuqCpIOWSazd+s/q+udnyfW5QdpbnbPLDcM
Z0VrBjghGTZR9FdUi3/4RtRtYvFd0dJx87um46/fiI5NiP886Gi5K74TSn5BlNwcVdvYX22o+Lfv
nHS8CrDbB89pn3JMNi2vICwY6wmNMFZJ1XZp71LcPCU7q7mGjfbbzGpqxBnH2DF7IszjQhhx7734
YIRiN/rNaKZprTaQkN3eL1duyoM/ri2bbNaxlFcXXt85Qdv/Xe51+/tLo8a+8FcEidl10Cwhj1mG
JeWHN+WFmXcKxJ2X6nDcM27sbnVaz0eoanTC+3ZWcuuQ7hqb1Xnp12Ozt4z6mtHTtnrGr6odEbP2
ktpmRFJZutyrNjfpbKP/vKKOfKMac+edRr/N80HSO6OiqZoacx23WV3tVJV7We0kzYl+YVVDqu8h
WbjzhoyOPRntrnkrVVlSu0eT1Wau7924GH3TDozZfbA7bqaa3al2hhVjby35NdvQqGV/11Xhx7xT
WfK5Ntk4vbPPecX3YTnOCYoLzzdeVedjXjZOX7rTKqo6uxzX6kX1k0FtezR5VVHb/eSZjfM3xRJv
co6lLSqwdTKspexaM1ScWWzPKUre4anvh5gx1gK0VeSbFbRNlKqfPfsjjNPVPnld+ixE7XK9flbB
ev5tlvARefMHN3rznCOdXfnl9hB8Tq2fLbIV6qKqIfoRj5Ecm0HbqFNX5z0En6zEbHrFHkyRftv9
QOPpctJ37dmGBUOaVFGtPUu44nGbLVo9xvKzm5fvQNKNxZ+TvLvM+H2dtfJzincBvdGPNuhT4rrZ
LZ/RyYXNZ7f+lPGlWes3N67lIsh9Mx4nwTM+qeX76rw1Emju1NrvO+VepGC+TWLk2JwtNnj89j3h
YX2229Vo88bWSpeVvUo2nElZt6UWxt2l9ndb5GPfTBVl02G8Ke9s2qi2WsBuea6fpzWj6riy6/vx
qS49ZhYLfRPyK/oO3x/47OPd4Pc30nNR5Qx5rXo4pQgBddrmtf63xvK1Ew03nV3bhqMfIbs4NKpB
Vz/3t7nqWT/B4b5xkK7th5lV1yOOrHWvfP2kqM0IXJU49PLarPG9RnUjbcUadX2OLgh3u5uZV5z9
co9KR84ZUEjn3nIvPq/PXf+miOHKLvC+S2n4c+GrqSG8W852OSr7fC/f3Dav5c6fQi/d+WLj2d03
WN4Vz1wWmXCcvQ/PzPeCYz797Ho2aWO9bEo+O+czUJJ9yX5VNfOdFMw4Jg19Nd/dsvPeq3h+cyzu
f0fFQIryl7GPbtZvvrscdVTFqf7JCv9keDNnqeehzbx194xqyd/dNt++mjNlJJ9KWtX2oMy3gOyJ
mJDPoq28HVQLv2qpMvm1RlzN/+7khDQrrtkLk1+uatLqvlVkd2zdqcykVnVe/y57+7lI9w2ZopUH
9Qq/rXlE1dnalGkUc5XbP+Oxa1ztnxca01ySvMp6bN7GQZNvmvVzsg7X1c6dpZerDLVjiZdlNG5D
EFe5ygRfFiGOpplSc5UUhweHB49XIox1+EonU1HMlDhJl0mcwsBYJ6/wboUyiUSa0LvmtIcHSzXO
daE6Qid5IeMYZ5lk6VxIcXyCX/gfr0S6UAk+l4mQWTjT10osZPhKTtXhQQjTSE2v8cvwYqJjvH9k
lZZCIpSiSGllWHaemwsDfDAODwx6PYCxHcWuGOEVA3Q1BS6WybAQY1UslUoOD2gdGNtErCsuYyVh
niQtYPGZLMxNBTRNzGsU6eFBCX8J8DydFEuZASXOL0aEqoUAoQaaqiyf6QWDY6eAZpImnwFUST5R
mRzHqiv6E8I/SnH1FjIweTKCTizgkS7w6gTog+BgP0RCDBmkCpkM8XPUDOHdpIzj1aPDg892+s+Q
u5r48GDUXItAy1VsbokAiCym47qYHR7U5GxP+Tk8YAESG+QH6Ip45mkMspbBBFmxQj6s83nE5Gig
oZMwLiMF7E5WQLdYIjpRGpbIUYm3V8Aic0mX5cjFAjCjhzlJk4OkK45yZEoEExoJqgSzU3FiDSox
VyAPgFuMdAR849VaH1i+yI1E43UaaWaWllmhc/tWTgAITaCH6XwhE63sm7KYpZn+FpGyN3LYKfDC
H1g4Q8xwRiAAQJ5FoLRIxeVMhzMxk5UQE5vXUMBhwD5gqdVanRSKECpl7JjCtwzJPE9DA+pSF7MW
Id5dRs80KARMxLbg8OBqAfZrIVdWG3FyVDsU/yRCpavEdKJAg9eQmYJ+wh9SOxqpXoN45MCZzpr+
dmAus765ZGmTVtKtNUCDPE2AHtBG+mTYHsPMicpJcFD+cVk2wE7Zk3I+BnuHMm3ZcAw8LmEOoCaY
DQGTTBGcqUoB/gWwDeaOUyOo4i4ZUjv0jB/f8xQCVzeCCCiwehqJCEOEbh0jgLVYLVAXw5lEQ4uw
wFpSvFKrcUpXxSTRfcD1WquldTiRnuqCRLE5ap4mGsQSiZNCz0xE6hog7qLbGu1ODdC6hz5JDg8q
KpRJjKgghWcS/FI6RmsCo52VRzbJKNLYX8YoXc0FwL6mWUFiFFaLzuUK3Iy1I0aqtWGiA9Yh0AI2
qMi1xqHkfvIStG6xvg7SfZGBKco0WAkyNeSsWphLdHsJqCJs6DosU9c5SeRHCybo8q/MwBBKcJmA
lBEAmPlaSxrcJ9FVheOUes3CDE/pSh9zIRC5AQc7CBPAntAHBIj4cjMGuxqBHtAYuAYyNlBo4OgG
otx/zoagafdB2Ml9ZSB8YWXyUYrA62TpTI9RufeA5LJi8nG6AAtc50FUGuehkHZ4EVILUGBt1ALk
F4ikVOQ8vaZn6vUCTHYO3HfiNF41vE1XPE2XCjhpggdcfS5fKfHArNlKC5T8MfjZciEWZbZIc/Jn
IC9unZAw4ilhunmZF9Yn04zqNcZb1QVPHe96MOS+ERZ0BplWhcyIJsD13AgceFYlM5JGYzd41jZf
TRECXlvX5qz3YFffd1OX1k0NyE0Z1gFJknQZqwjiD7KHJkKbsdTWgSMZb9DLOFZy/5YaO3jADun6
Zk+KMSZxfj3IQagnZUbE3gI96EoJE+NyaTaFkOFbYymxa5hGql1U8OdaxiUZJ0IKDEeYqSKvUK1c
JsrHBAxbUmgAXycgZnNp7wNrD9Aa/Cbb6C4iq6TLkwQkYVoWxhdzvAZdrxLyzEN4BDLmbkI8k8uO
dcDG0AMWSgJVyQrnaDuIa4cHHO1R0CCXuRXJb8pM55EOLSKgn2v2dqt6VyYfwhIyuko0rYcDSMhx
eg3B/cuLK3H0ZNDridHToxF9fNE/O6M85NnFSf/0ZUccnRxdjjpiNDg6H54djXrw5GzUG0CfgTge
9OCJOOkN+s+PRv3nPfHiYvD1UFycwoQ9cXpxPhLDi9PRi6NBz6x2ejWAN4ONqw56z3uDYU/0zp/0
z3u9QQcmP754dtk/61Fz8BKBOekPj4bD3rPH+BQBGfZ6X4vRBb44voAZaPnhxdXguCeOL056GyDq
tzyF/uejo/75UMD8vZOT/vkT8bg/Ghpgz/rP+iMadHx0efS4f9Yf9XvtCHcIs2dHLwmx46dH508A
jgGTD7vXF6h4vkXNKMICHutriQE+X3tnkw6jaBDvyEKCCUYXWC74Aj0cA58pSWpx3BlF3hgoVDfs
rdkRnVAnVDxsm4ieAozawhzCmOAW+qqoYz4YA0txkVwUlNyw3nVaFa82q7e4LNzy66jw8mAtwG2h
y93HjE0gd0opxDQaJucLvNYRY67Khzfpn0MefPfBPcy/izajc5nmxTDMNOjqaLVA39nI/Fc1XSew
N4UYo6xUOElHXEB2a1rMO+MTmT7qNaRniAYgK5wDnJRoor8Sdx9uBtcu8TZQEppvC+OvN8NoJ34H
MCK64s2B/OKeqJlqtP7KC/y95KRDATDl4PlqPk7jHCeEzEdNZAiipExKe1d1p12I0SS4C+gKETHk
h2kMSqSKsHtvdw3WRQt8M5lMTTSQyPkGr2zpYN45N2ljLEWxcJWcHB68XdZt8qUR58JfiSGkDvBQ
PAYKy7IR92ZUAqG6FJCxHHO61XH1CMykFWh2gsTlSdusGWNp4thsi+mz5qkZZ/wKExEYvczQ2SYo
dDmFzRZmNP85giM3R8yd3cyvrQdJqqjoEK8prsLVDgb3uMZ8rrJQU4BHgQnOnTNFx0TRrlUrhUKK
GU1mOnN2QxbdT2AgfcDEDcLsDibDCpZHIYfATUdVvkshPNhdCPlByPKb6oq7C8d5Ki5IG6+wHvOS
y5dUVkFPksQmLuJikMto8kIW7cUztPm+ldhcY3GmAGMy8aItMlTgLNY8BXS3eQi8QQFwgbwN0Hyg
uHr2x1Jnjnw4kUfrqqqAyt8UwkcC3Y+vJfnMxvx1vChDMEhV1SIMqAuMEI3hAeKgg0bTqXNyhFOV
hMD5SMkY80BQulxHmqQBoEMETJUQPtcFjS2WcTcvtxIdBH+eEthyn6qV8RTbpwd+uOnTBIvBs1Ve
q269mb2EUb+pjyIDucnxEIGBP5HRaue8qqQW7z3OySgs1RhoPFWI5G/3WAM1m1INp8Yo0kiYNPEq
KZWU4oytpP1dgx6bnOrhAS3s+04rUS4KaPG5xqdZU40R4iacmDzQBae3k1+d9/9wryvu/r4O5wI9
Q27Cw2m8WszQ15qrlHNbaKhX15orGoNMNjQy03HtrxZ6coGDNg5Sm4fB0MpwZC4rr4qi6AgoJA7J
12Z817WqQyssuAbRhcRPSY7IftkadOTggEJtogrbmzdFAJX1eXcjw7vAFSKEHZEF5B583q7Nri+i
sz8vqV4Myk4bLLtgRi4STPMGzMpCx/pb081CgyqbZlEuJLroTaGaLnIVT5ivYayxL7L1QcOKmx0V
mPTwIFMuvnkrjzpCm2qKFaYYbj0L+1DrW1sd1VIDOBoijAgLTuBnKYMqixQLMWBI0R3z/KoKmUzU
KLTZnZxIHRu5AH+5MmSlrSJMbKmUmZjQubrl3atF0oZM4TDggB8jjwirtemKSnlcXWyz1aYuNJax
TMLKmjsEwW/C+LwEL3atCC4Khrwlu29793v9DMe2m96ZO2/+v7H4P8ZhlUwAAAB42m3NWUwOAADA
8d/3laQI5agcOZPclMiZ5CZy37lzRgmVczFzzHjh1bH1JsfEph60MUeIic1DnsicT/FK67nf9n/+
C2rxr9JorXnSXEBQiFBthGkrXDsRIrXXQZSOOuksWowuuuqmu1hx4vXQUy+9Jeijr376G2CgRIMk
GSzZEEMNM9wII41qfo+RItVYacYZL90EE00y2RRTZZgm03RZZphpltnmmGue+RbIttAiORZbYqll
llthpVVWW2OtddbLtcENJ51y2QXnnFXmik/+aPLXdTc991SFjTa5aLNaWzzzQp2XXnntm63eeeOt
W7a55IN67+X54Zczdthup9122eOqfPvsVaBQkf0OOOi7Q0oUK3XEYdccc9RxJ/z020O33fHZF1Ua
fVWuwUd33ffAY/dUOq06EHTeIzWBkNCsooL8YGbOf3jzVf4AAAAAAAH//wACeNpjYGRgYOADYhUG
EGBiYGZgZDgIxIcYDgN5R4CQkYEFLMMAAEd3BBIAAAB42i2OywsBYRTFf98kTYxJ0iyUV1Ek8ixZ
eIQykcfClr7VoMnG/IP4w8bty+Ke0z33nHsvCkhRYYIKdfTEJiEKcYwlpLDCe6BxXzqMyBtFGUTm
Sdx/lzUpxUPUPh5LFmRI48hmlxlXppS5UEUTUKLInJy439wk5VGjToMmLdp06NJjwJARY1as2eCz
Zc+RE2fxF6Rsc9/hK3zgI7gzv/k/AXEVcHja7Z1/cBzlecdf2xhsMKYBgyHxD0wdJ4HQUCBgOyQ2
A7RASpsaMLUxBv7ohKGdDr9JkzThV/hpDEkpSmnKOCQQ1DOOUdB0RulxA1x1lSyvjXVmDluMxesb
n7Vay1pZ++r27F31s3uvpdP5pJPxL2Hd3DxzJ93q7t33+Xyf591nn12JMUKIk8UM8XUx5h/vfOCf
xARxAr8Rvb0ieGfMP/z9fcHvRP4n3hvL8zgx6dpFD74oxlw7I9x6gXh67JpxC8f/8KS1J310UnrC
5AmXTlg64YkJb0zYOEFNnDZxxynJySf+yZQvvHvGvrPmTF02tePsH5yd+9Lc6Q/NEDOenTl71qJZ
1nnGlydNnPaV678294LlF/7qG1suenP6Qxe/Mf2hiTsubbn8rHnT5r97xb4Fc8aumdqx8KaFO66a
HfztNcuvyQZ/K54Rp/SaYhJ2KjYZOx2bjs3AZvZ2i3N7XTGrV4nZvfXiy7ye07tbfIXnr2Jf682J
8/n5Al5/Hbuwd7X4M56/gV2E/Tl2cW+XuITnS/msb/J8We92cTmv5/L6CuzbvY74Dt+1gNcLeb4S
u4rXV/N91/D8F3z+X/J8LXY9r7/L819hN/S+L/6a57/Bvof9LbaI77qR55v4/Jt5XtybEbfw+u94
fSv7sIzn2/i+5XzH7by+g+3v5PX3sbuwu/ndPXzvvdh92P3YA9iD2MN89w94/5+xH2I/wn6M/Qv2
E+yn2CPYo9hjfO7j2BPYz7Ansaewp3nvGexZ7DlsBfY8thJ7ge94Efs59gvsX7GXsJf53ire/yX2
79gr2H9gv8L+E3sVW4X9ms9/DfsN9lvsdewN7He89yZWjf0XFsFWY29ha3j/99hafPI2c1XD7/7A
/LyDvcfr9/HvB9hsCOmGgMDDe/GeLeb1emI+9i3sCuzb2EK2uTr0zF5m3RZL+N1S7FZsGXYbdg/v
34vdh92PPYA9GM6Exwy4zIDLDLjMgMsMuOKlMecwYo/ReozOY3Qeo/PEyjLcZjS3XYy6R3MrC7h1
4VYWcLuhBLcZzW1Gc2ux5zvhtou9V+y9w97vZu872Xt3EIZ7NMMyZPi6kGFZwLBbguGMZjijGd7D
bO6E4S5mVDGjDjO6mxntZEbdApYzJVjuYbZ7mO0eZruH2e5htntgWR4EyxlYzsByBpYzsJyB5Qws
d8FyFyx3wXIXHuwsYLkHT/bgyR482YMne2C5B5blMFnOwHIGljOwnIHlDCxnYLkLlrtguQuWuyCj
U7PcCcsZWM7AsgXLe6ClE1pcaHE1yy4sozfIsSDHghwLcizIsSDHghwLcmKQk9YRT0KOgpwY5CjI
UZCjICcGOQpyFOQYkKMgR0GOghwFOTHIUZATgxwFOZ9CTgZylCZHQY6CnG7IUZBjQY0FNRbUSKiR
UKOgJgY1isinIEdBTgxyFOQoyFGQoyBHQY6CHAU5MchRkBODHAU5uyEnAzlKk6N0FOyGHAU5FtTE
oEZCjQU1FtQoqJFQI6FGQo2EGgk1EmpiUKOgRkGNghoFNQpqFNQoqFFQo6BGQU0MamJQE4OaGNTE
oCYGNQpqFNQoqFFQ0w01CmoU1EiokVAjoUZCjYQaCTUxqFFQo6BGQY2CGgU1CmoU1CioUVATg5oY
1MSgJgY1MaiJQY2CGgU1CmoU1HRDjYKabqiJQU0Maj6Fmt1Q0w01CmoU1CioUVCjxEQxBSrOhLmz
epvFVF6fzW/P6fXFF3v/V3yJ19OwcWyleHcvv82xNjiDn6bw05k8n0VEnNq7lr/bx9/tYQuLv3P4
u918en5LW29pseUu/Q17wy2nhWM4g++f0ruFrVJ6K5OtLLbKstU6tvok/Na9bJViq21s1cVWFlu5
eqs2vnUfW+5gbZLf8iP9eRm9ZSdbxfo+q5kttrGFZIsOtniVLbbzWX9kqz18VootU+HYgs/aw5a2
3tfgs/aypaf3wAy38tgixxY72KJZb6HYQvJZXeF+XoxCXRTqolAXhboo1EWhLgp1UWUaRXkDslA+
AwUxOIi/LkoKYm8alUhU4BVlo906GwWx04V+F/pd6A/iZRry05Cfhvw05KchP62zUxo609CZhs40
dKahM92XndZib/dlqXzc+RF70s6etLMn7exJO3vSzp60syftxJokccbU2SlZlJ2SBdlpY4nslNTZ
KVmQneLEGMmsVDErVcSYdcxMLbPSrjNTOzPTHmamfFZK9q2s8pkp2ZeZDsxKSZ2VkjorOcxqnNgi
mdkqZraKmV3HzNYyq+06IyWZ3XZmt53ZbQ8z0sP8bviZJ0kMSRJDksSQJDEkSQxJEkMkMUQSQyQx
ROKd2r7M8zLvDy/DJIkVSWJFkliRJFYkiRVJYoUkVkhihSRWSLxbqzNMLbEiSaxI6gzj4OnaAZll
Bd5WeFvhbYW3Fd7O4W2FtxXeDtYjHvym8LiPx1087uFxD497eNzF4x4e9/B4Co97eNzD4x4e9/C4
i8c9PO7icQ+P+3h8Cx738Hgaj+/E41vx+Da0sBWvK7werMoUXld43UMTKTzv43kXz3t43sPzHp53
8byH5z00Y+B9D+97eN/D+x7et/G+h/ddvB/oaQue9/B8Gs/vxPNb8fw2NLUV7yu87+H9QFs5vK/w
vsL7weovhb5S6CuFvlLoK4W+UlDhQoUHFR5UeFDhQYUHFR5UeFDhQYUHFR5UuFDhQoULFS5UuFDh
QoUHFR5UeFDhQcU2qGClGGo3hXZTaDeFdlNoN4V2U9DiQosHLR60eNDiQYsHLR60eNDiQYsHLS60
uNDiQosLLS60uNDiQYsHLR60eNCyDVqCeLANWlxocaHFh5RtxIStxIStEONBjAcxnni8zFqkibWI
DzU+1GQ1NXGo8aHGhxofauJQ40ONDzX/AzU+1PhQ40ONDzV1UONDTRxqfKhxwsg5l9fzyAPzsWD9
sYCf+9cgPqRkNSlxSPEhxYcUH1LikOJDig8pPqT4kOJDig8pPqTUQYoPKXFI8XWcsKHFh5Z90LIv
XHfczs93sO2dvO5fe/gQkoWQLIRkISQLIVkIyUJIHEJ8CPEhxIcQH0J8CPEhxIcQH0J8CPEhpA5C
6iCkDkLqIKQOQuogxIcQH0J8CPGhw4cOHzqy0JGFjix0ZKEjCx1Z6IhDhw8dPnT40OFDhw8dPnT4
0OFDhw8dddBRBx110FEHHXXQUQcdPnT40OFDhw8ZPlTUQUUdVDhhDHmP372PfYDdHea8/HFLkOea
w8xQmBX6M8KuAzLCJWFcCDKBjYdj4fH1vN7NeHgTcWEjcWE9ceFDvN2ps4Grj1Gaw2xQmAn6j0/+
+4BMcGMYA4IMYOPZWHhsvYTvWcr33Mr3LON7buN7ggyQPwZpxqPNeLQZjzbj0WY82jzsLHDgMfP6
guOMZjzXjOea8VwznmvGc83DygAHHhev15F+Pd6x8Y6Nbtej2w/R7YcDIv0Lh/noc/tROfq8tnIE
OiKOQJ89xJqbW1Rzs45oze26St3tGNTd8qTcACmdkNIJKZ2Q0gkpnZDSCSmd4YpydkiHG64eLyRn
XRx6PfD47kHrdEEGWIhdiV0detsNV4CLQg8G3usZtH63nL/Jr+w68V4n3usctKb3cOiR0qu1Qet9
4RreHXTFtf9oq391tZsZ7BlQGzyW1Uq7ZLXyvLKjOewjKZirwpGce8BIhhrFkRhBkDtb8FALTLfA
dAtMt8B0C0y3wHQ10U8S/TKMtJHoJ+F7NdFPEv0k0U/C+mqinyT6SfZkFdFPEv0k0S9N9EujgWqi
n0QH1UQ/iRY2sLcfE/0yRfU3xV6n0UMLkVBCRAuaaNE1uEYioUQbq4mEkkgoiYQSnawmEkoioWSm
TCKhJBJKImGaSJhGQ9VEQomOqomEQfXhI2bzYyJhpqgGp5jVNHpqISJKNFWNplrQVAuaaiEiSma8
kRlvZMYbmfFGZryRGW9EV6uJiJKIKImIkogoiYiSiCiJiJKIKImIkoiYRn/V6K8a/VWjv2r0V43+
qomIGSJihoiYISJm8KIiIkoiosSbjXizEW824s1GvNmINxvR5WoioiQiSiKiJCJKIqIkIkoioiQi
SiJiGu1Wo91qtFuNdqvRbjXarSYiZoiIGSJihoiYgQ5FRJQQotBzNXquRs8b0PNHEKMgJg0xaSKi
JCJKIqIsu/KK6NwpocfXuTNSlDsjBbnzdyVyZ0TnzojOnTuh5y3oMQoqKx9DzypdvS2VR32dRyNF
eTRSZuUV0Xk0UrDGfgt6jIIqy8fQs0pXcPfn00iJfOpDjw89PvT40ONDjw89kYPIpxHoiUBPBHoi
0BOBngj0GNBjQI8BPQb0rCrIpz70+NDjQ48PPT70+NATGWY+jUBPBHoi0BOBngj0RKDHgB4Degzo
MaBnlc6nq6AnAj0R6Nmp1+2rCqq4/fk0iMM5vK6GiMO5MnE4x6zmmNUcs5pjVnPMak5HwRx7nmPP
c+x5jj3Psee5QTNCd5mRdJcZSTcj6WYk3Yykm5F0M5JuPZJuRtLNSLoZSTcj6WYk3SVHMoeRGOFI
LgtH8y6jMRiNwWgaGM06RrOB0Rjh0eBitrmFbZbw81LsVrZZxja3sc09/Hwvdh92P/YA9mBIxzpG
ZDAiQ/xc/B8jMhiRwYgCL65jROvwnMJzipGtY2QbGNkG8VyJepoaUE87l/Hna2o1aN0rU1NbU7am
djnHjvl6Whsz0MYMpJmB7UPU02rQuVemnvZ8iXqaW1RPa9b1tDZmtY1ZTTOr20vU01RRPa2GGa9h
xmuY8RpmvIYZrzlC9bTtBfW0GrxZA181eLMGb9bgzZojUE/brutp2/tWfDW8LlVLmxNWTIKjocvY
Ks9xI16sx4vr8WJTWP0Iqh0DOW5kxuuZ8fXMeFNYuRisYrGC9werOER47y1sLd+d57ipr3IwF449
OPbg2INjD449OPbg2CtawTeEDM4jO87H8vylGXkP/AXsebDnDVi138AeB/wsYfulWJ6dNHvSAzsB
NwpuPLjx4MYbcrW+gr8balUe4f23sBrsD3z+O9h7ek3Xxh62sYdt7GEbe9jGHraxh20o1UKpDkp1
2NtWlOqwx2mU6qBUB6U67H0GpTooNaurWw5KdVCqg1IdlGqhVAelWijV0edUg3qIw2zt0fWQHmYr
y2ztYrbaUKvDjLUxY22o1WHWWlGrw8ylUauDWh3U6jCLGdTqoNYss/kpanVQq4NaHdTqoFYLtTqo
1UKtjj66DeohDrO+R9dDepj1LLO+i1lvQ7EOM28x823MfBsz34ZiHWa/ldlvZfZbmf1WZr+V2W9l
9tMo1kGxDop1UKyDYrMoNotisyg2i2IdFOugWAvFWijWQrEWirVQrIViHRTroFgHxTp4M4tiHRTr
4NVWvNqKV1vxaitebcWrrXg1jWIdFOugWAfFOig2i2KzKDaLYrMo1kGxFoq1UKyFYi0Ua6FYC8U6
KNZBsQ6KdSAki2IdKMmiWAvFWvrcanCUm4WaXVCzC2oclOugXCekR0KPhB4JPRJ6JPRI6JHQUwc9
NvTY0BOHHltXwW3osaHH1lVwG3ps6FkLPTb02NBjQ4+tq+A29NRBjw09LboKHuReF3pc6NlfG+mC
Hgk9NvRI6JHQY0NPHHpsXRG3oceGHltXxG3osaHnj9BjQ48NPTb02LoibkNPHfTY0CN1RTzI6y70
BDUSV9dIuqBHQo+tq+PBmXkJPRJ6bOiJQ08ceuLQE4eeOPTEdXXchh4bemzosaHHhh4bemzosaHH
hh57iOq4DT029NjQY+saiQ09NvTEoScOPXHoiUNPHHriukJuQ48NPTb02NBjQ48NPTb02NBjD1Eh
t6HHhh4bemxdI7F1jWR/pbwFeqSukXRBTxf02NBjQ48dnmMd6hyKoVcIVXqFkCpaIWwuWCH8vsQK
wdArBEOfdQvqsG64SsjXXft7N67mO/KrgVTRamBz32pg4CqgWa8CDL0KcMNVQL6mGvRmGEXnR4Lo
XQUBVRBQBQFVEFAFAVUQkDqIjG9AgAEBBgQYEGBAgHFAxu/P9lV4vwrvV+H9Krxfhfer8H5qmNne
wPsG3jfwvoH3DbxvHJDtV4d1HQOvG2ENtb922p/lnynj7QZihdK10yrdvZMo6t5JFHTvvFqie6dB
d+806O4dS8eKgd07+RpqcOZMFZw5U5qCoHsnUdS9kyjo3vm3Et07zbp7p0F373TpODGweydfRw3O
oCkIaSgiRA1BSOIguncaIKQBQhogpAFCGiCk4YDunf7OncEISQyzc6cBQhogpAFCGiCkAUIaDujc
WR1WChogpEFX2bsK6qb93TovlKFkXcFZtiZdJdhUVCXYVFAleLtElaBeVwnW6SpBu44LrqbEgpJP
ySgdfT1e+SrBflKCKkGTrhJsKqoSbCqoElglqgRNukqwTlcJOnTscDUpFqR8Skbp6OvzylcJ6oto
CaoETdDSBC1N0NIELU3Q0gQtmw6iSlAPLfXQUg8t9dBSDy31JaruHQVVgiaIaYKYJohpgpgmiGmC
mE3DrBLUQ0w9xNRDTD3E1ENMfYmqe4euEnRATj3k1ENOO+R0kFE6SlYJytGTKDjurNVZJVGUVRIF
WeX1ElklobNKQmcV2ZdV5jGq+Vj+7F6wmt2r6fEK6AmOAWp1tkkUZZtEwbHnGyWOPdfprJMIs87i
XrMv8yzhe5di+bN7wWp2r6YnOI5IlMhGtdBTCz210FMLPbXQU6tjzXCzUQJ6EtCTgJ4E9CSgJ1Hi
+DNbkJFqoacWemqhpxZ6aqGnVseb4WSkBPQkoCcBPQnoSUBPosTxZ1Yffwar2QT0JKBHQo+pV7N7
oWfvgAx1SRl6NoZrkPM5Lgz6NS7m50uxy4hkl+uadOGaIlhLXM+2i9jmJuwWXTvOrw82DvBIsAZ4
jN89jj2B/Qx7EnsKC+q7Qb7+Na9fw36D/RZ7HXsDi4T9kEF03chebmQvu8Ia7E/FOH3serjqLcOp
tSzQx7pHq8bSX1/xjkldpa+mIvaNqJrK83jfh+ccBOTgOQfPOd3VloPnXBEVqaPQ1ZbTdOTQR+4Q
u9rcg+hqyxV1teXQXK7S1VaCmpUlImCuIAIeyT7IFMSkNDGGJqZU7jw8fZCLiSP91KSgJqWpMTQ1
VhE1hbnzaFJjHANqDE2NMYCat5mzGn5XipxHj0I/ZPy46Ic82r2QR7MP8q6SfZCjsQdytPQ/bqj0
P1b6H0foNceV/sdjd93xd4fd/3iovY/HR9/jgdfG+X3XxpW+Hs7XfObPOhzu69+G2+snda+fhS+j
KN1E6SZKN1F6FKWbKN3Ex++gdAul70HpO1C6ic+jKN3E71GUbrL3Bnv/ib4OztJ12KCuYjELHUP0
+pmwEEX1Fqo3Ub0JF1FUb6J6U/f6Wah+D6rfgepNVB9F9SbsRFG9ycxuZmY/0dfEWboOG8yuxex2
FPT6RYt6/cwhev2iqN9E/SbqN1G/ifpN1G+ifhP1m6jfRP0mzEVhLgpzUZiLwlwU5qIlrpezUL+J
+s0hev2iqN9E/SbqN1G/ifpN1G+ifhP1m6jfhNcovEbhNQqvUXiNwmu0xHV0Fuo3IcWC4SgMRyHG
gJjNEBOc6+mAmA7Ub6J+E/WbZa/x/2y9fsPr83vtGPb5vVbp8zvEPr+j3dM2dtg9bc8clZ62Sj/b
QdZdR1gv21hxojhFTBZCnCGmiRPELB6Tye8LxGniSh4XiKvEzcF9hy6cFt5F6JvigTGLx7003jjx
lxOePPnNSfK0KafJL0zg8Yv+xxmPnPnY1NXnbDlny7RJ+vHyjLkz3p+5bKY698VZ58+Kjzfyj/OW
z35pTl3h337VOr8r/6h0s/V1syndzRb0GJhFPQam7jHY381W3GNg6R4DS/cYBOf/pO4x2L9q6WS2
7DLdbEGfgYlWswV9BqbuM9jfzVbcZ7BH9xlYus8gOFaRus9g/6olw6zbZbrZ1BDdbGaJXoPibrb9
vQaDdbMV3ynELug3GKybzSzRb1DczaaG6GYrvlOIre8UYhd0s0l9zGIXdLP19x6sPCbdbJVOts9/
J9vxdd+TSk/eaOnJe/qY9+RV+vFGdj/eyhHRj3dkevHqK714R7AXb8WI6cU7/H14730u+/BGUg/e
8d9/d12Zo22z4Gh7c1/tJ6iAz2OO5mPf4ljlCp7zka/wqNssOOqWfXd/CCrYS/h5KZY/DpQ6cvX3
yPUffZtwZ8KdCXcm3JlwZ5Y5AxJcYW7Cjgk7JuyYsGPCjlnmDEhwpbgsqJ3Ivogxcq7rrdzxbzTd
8e+Rg+5XGo33bjuee5We/cydMJW7gOW7YEZL18tzFVIOQ7/UaKFlRYWWw9RdN1qIGTn3GKv07470
/t3Re/ehKcPu1DjaI1s2Ykf2yIgd2Y0jdmTXj9iRXTnskT1/HNdeE5Xa6xG6/rnS4VbpcCvf4bZi
RF9ZXLmqeORdVfxopdY6Qv9Pxuej3lr5v3/H9qrDo10PGSvGi5vF7UKIO3mcIu4RD4pJ4mHxkjhd
vCxeEReJMTP9sHt6jlg85sfjXhvfcuJDJ4mTXpm48eQ1pyw89W796J78k/7HaWfrhzx9wmlyypwp
c8763tnPfjE+TU1TJ6859e7p8fCM7cD1T//ap133R5thh/CF4fVLwbVLwXVLe8Lzz8X3J/9O2M2U
X7/k+6TNsMM3ODZfFF57ZOpjAnXA/cWXhx1JJnTYfWuQwfulg+uHTDxu4nETj5t43MTjZnjuevA+
6uAaIBMvmnjRxIsmXjTxollwTtvEYyYe26OPMdQh/t/Zyv+/GB3//2JlpQpeucb8M0X/kXs36GNQ
pxdzy9ZerWFUnqwjdOf3wJNW2crTyLuD0KEeGVbuHnR47x50+XF9ZdrI+x/slWOxyrHY5+3c9Og9
8zn8a9SPn+vQnhn1Z7BG89mr/LVr5a8YeOq4PWNVOVs19Nmq4ZypqnT4Vjp8h7fKWXnU/wtS5T8g
HR//AWnlqLrjSOVuI4fvbiMrKj1alR6tUXx97LG8R2DlfwF/nu8ROFZMFKfzEGK6mCnGiIU8ThB3
8Bgvvi/uEieKu3lMEK+IV9lylXhHTBbviQ/En/4/32m28njaY2BgYGQAgmOp20+B6FNPTHfDaABU
VgfqAAA=) format('woff'), url('../fonts/LHFGloria.ttf')  format('truetype'), url('../fonts/LHFGloria.svg#LHFGloria') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*************************************

MEDIA QUERIES

**************************************/

/*--****** EXTRA SMALL DEVICES ******--*/

@media screen and (max-width: 767px){
	
	.content { max-width: 90% }

}

@media (min-width: 768px) and (max-width: 991px){
	
	.content { max-width: 90% }
	
}