/*************************************

GENERAL

**************************************/

body{
	background-color: #c0c4cb;
}

.content {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    border: 3px solid #0ea6ad;
}

img.logo {
    max-width: 60%;
    margin-top: -23%;
}

h2{
	margin-top: 0;
}

ul.social-media {
    list-style: none;
    padding-left: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul.social-media li{
	display: inline-block;
}

a.contact {
	margin-bottom: 10px;
}

.social-item a i{
	width: 25px;
	height: 25px;
}

.social-item a{
	font-size: 20px;
	padding: 5px;
	min-height: 25px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100px;
	border-radius: 100%;
	background: #0ea6ad;
	color: #fff;
}