/*************************************

GENERAL

**************************************/

body{
	background-color: #0ea6ad;
	font-family: 'LHFGloria';
}

.content {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 17%;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    border: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #dcdee2 0%, #6b6170 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #dcdee2 0%, #6b6170 100%);
    border-image: linear-gradient(to bottom, #dcdee2 0%, #6b6170 100%);
    border-image-slice: 1;
}

img.logo {
    max-width: 60%;
    margin-top: -23%;
    margin-left: 5%;
}

h2{
	margin-top: -10%;
	font-size: 2em;
}

p{
	font-size: 1.5em;
}

#email{
	width: 60%;
	font-size: 1.5em;
}

ul.social-media {
    list-style: none;
    padding-left: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul.social-media li{
	display: inline-block;
}

.submit{
	font-size: 1.5em;
}

a.contact {
	margin-bottom: 10px;
	font-size: 1em;
}

.social-item a i{
	width: 25px;
	height: 25px;
}

.social-item a{
	font-size: 20px;
	padding: 5px;
	padding-top: 10px;
	min-height: 25px;
	color: #aaa;
	
}

.social-item a:hover{
	font-size: 20px;
	padding: 5px;
	padding-top: 10px;
	min-height: 25px;
	color: #0ea6ad;
}

.transition{
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



/*************************************

FONTS

**************************************/

@font-face {
  font-family: 'LHFGloria';
  src: url('../fonts/LHFGloria.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LHFGloria';
  src:  url('../fonts/LHFGloria.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAFVMAA8AAAABPIgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABVMAAAABoA
AAAcXC4jQUdERUYAADnYAAAAKQAAACwChQGMR1BPUwAAOqgAABqIAACV+JVIZcpHU1VCAAA6BAAA
AKQAAADSTq9UME9TLzIAAAHMAAAAVwAAAGBYLhe4Y21hcAAAA5QAAAGkAAACEv3CiqZnYXNwAAA5
0AAAAAgAAAAI//8AA2dseWYAAAbEAAAXeQAANGxaVbNsaGVhZAAAAVgAAAA0AAAANgbe5+hoaGVh
AAABjAAAACAAAAAkBc4C5mhtdHgAAAIkAAABbgAAAxQDIwqYbG9jYQAABTgAAAGMAAABjNrG58ht
YXhwAAABrAAAAB4AAAAgAQwAO25hbWUAAB5AAAAaQQAAZsCuLJsHcG9zdAAAOIQAAAFKAAABtJxI
44l42mNgZGBgYGRwPP/mvHM8v81XBm7mF0ARhkuFQX4w+v+k/5HM3kxngVwOBiaQKACIjw18eNpj
YGRgYHr3n42BgTn8/6T/h5m9GYAiKOAoAJZIBrh42mNgZGBgOMpgwcDKAAJMQMzIABJzAPMZABzr
AUgAAHjaY2BilGWcwMDKwMC0h6mLgYGhB0Iz3mUwYvgFFGVg5WAAUSwNDAz6DgwMXAxQ4OPhxsDg
wKDwm4np3X82BgZmR4blQGFGkBwTPxM/kFJgYAIAkAEMSwB42qWTPUsDQRCG3714BENEwVhck0IQ
/AARP6MRzkYQwUIULNNY2FlI0lha2FjEBEtLOxX8CRIUK/EP2AixEkGxCEiMz+5dkSIIauDJ7OzM
zsy+d6dTuZ9Z48+uD5U1Q8p6PdgE1lPGXCila2XVVMqEkIRZ9sjVG+yRg+/1KaM7zh3jZ+CcvHFs
FTZgH07IaUY1vBmlVWxVTF6ByXGuDjvMMoK/orTZVaAGvOIv40+wLrKelm8Wo5g5gFCBrWXPOTvK
nujRhS0DNT17x3yEPrE54vfubHSXuou5XDP2c3+9q5d7/a6/7b3e1n+O+KCCxBb5q7GWV+hT0CS9
fL2gxQI5U8Q+2D+i3yXPYx7KEBLPxXp1ogbcgRn73R0arS9nS61HlZTE1uDJnFE7nr8Tbv52mM09
n81Yq//0rv6xN9a7IeeWHB+NpG4XQ0dHAS2tZsPo46O3fXct8bvtGIAH5qxQbwm24ZkZ+Qa+ASbe
cFoAAHjaY2BgYGaAYBkGRiDJwMgD5DGC+SwMH4C0BYMCkCXBUMewmGEpw0qGdQwbGLYy7GC4xvCN
4T9jMGMiYwVjHeMkpltMd5j3KAgrSCnIKigpuCisUVT6zfT/P9AEBYaFQJ0r4Dr3MNxg+MEYxJgA
1FmLpFNCQQauk/H///+P/x/8f+D/vv+7/u/8v/X/5v8b/q//v+5/zP+A/1b/zf4r/73z9/afdQ+W
Plj4YMGDOQ+qH4jcn896EOIL8gAjGwNcOyMTkGBCVwAMKhZWNnYOTi5uHl4+fgFBIWERUTFxCUkp
aRlZOXkFRSVlFVU1dQ1NLW0dXT19A0MjYxNTM3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fP/+AwKDg
kNCw8IjIqOiY2Lj4hESGktLyysa27gn9EydPmjJtxvSZs+bMnjtvwaKFi5cuWbF85SqGzOQUhn0M
fRnpBxnSGMraQc5KzYI5cOqy/CQGYCCDQUFx67r1wODeu3MXA8PaTfsPMDAcOszAsJuBoaiqsLqi
tq6+prmFoamzq4OBYTtQ/bZsIAEAnq+RgQAAAAAAAAAAAAAAGgAuAF4AqADuAToBSAFgAXoBkgGy
AcwB2AHsAgwCKgI6AmICmgKyAtQDBAMUA1IDggOYA7AD6gQCBCAETgSaBLAE6gUGBSIFNgVIBWgF
gAWOBaQFugXIBd4F8gYSBjIGcAaSBsIG1AbyBwQHJgc+B1QHZgeKB7gH0ggQCBwIQAhWCIQIoAi8
CNAI5AkECRwJKglCCVgJZgl8CZAJsAnQCgQKJgpUCmYKhAqWCq4KxgrcCu4LHgs8C4YLrgvKC/IM
LAxQDHAMpAzSDPANCA0qDVQNkA3cDgoOKA5GDmgOlA7EDvQPFA9MD2gPhA+kD9IP5g/6EBIQOBBc
EIQQqhDQEPoRLhFoEaIRyBHuEhgSUBJsEo4SxBLiEwATIhNOE34TrhPOFAYUIhQ+FF4UjBSgFLQU
zBTyFSwVVBV6FaAVyhX+FjgWchaYFr4W6BcgFzwXXheMF7wX7BgoGGIYkBiwGNAY/BkaGTYZNhlE
GVIZbBmAGZQZphm2GegZ/hoYGjYaNnja7VsJcBzVme7XI2l0WBrN0dNzSD1HS9OSRnNfOlsj9UjW
bcmSZWzLcgy2jIRsy7ENtoC4wCHFsmyICRBDgWwC2ewGSDbBJqRCSMoGk7AxCUuyyW4gdgKuEKiQ
GFLJGqP2/u91zyHJIeTYqmQLSTMazbz3H+/9///9//+eKJriLr1LTdE6SkOtoKiEJqLRRuNhs6nA
7fHkp/I7WM5s5tjt6LPyxGC52exkzBTMQRuRlszRUpQxEdFG4MG1p/rq4IE2fgW+KIrKozjqOPo1
7YRROoql7DA2ohcYXs9WYfrAp8BdYDKH49H8mIv5p+qd1TvRlWtvWLv2hvLxtrbxNnktepJm5Ze+
+hiqf+KKuSvgh5cmOjomLnEc0NcA/UnqHG2hBKqeCgF1bTgeCZsdiPHwbh3iaMZUoGX4mFuImZtR
zE/HovFETGtiYwWsR2DiRxC9QqOzFxQYq7TF+YzFXOOqdNhNzgI7xwVqPB7PBsSYaUsFKtBoQnr6
8Ipyl8kdKqx2lwTKtpQZ/ZzQXFp1t9O6j3nOULpSByJR+ZSJotBbsDZFVCllodyUj6IMpgIeqxsJ
JxCPCqIgXQFjMkfCeZkPzNk335HqfZLkq78ov51CZf/mMDEOB2NCY+rb2vQb35xubZ0WDQvnad3R
uNNRYXfMk3c+qfwBYlDFly6gh2iGilNUtRZYCWUI+OFV8KMYZssyKttmxKT5xxPwnjaGhYqE0UNI
ZykzFW1IdqznbQ7f5l4v5xY8rS2CTif4glWeOJ1fGOAcIUvKYHtW1Oa3DA21e1K6Mqm6e7QkWRKs
rw02NfIeb9iLXB0WE14jhO2HeojYD7EeTrUa8lkxPL8Gn5XCZ3wsEoswPAMPPV/DcU/t37lTQkXi
t8XbRPn3VHo88sB4XWY8PPS8Xpkh7ZPgB+nEEydOLJxHOvl8msdbypwIjMtyYSJvneK4b8zt3n0Q
lYinxFvF02kecRhvAB4sCAwmxgtgQXwMz51Gu/oO2MwT3cNsRQfH0brXXnvPHDz9pXDRG78SXyP6
XvohNUV1Yp1YvPxhM7ZMIR6LW8C/vFYNoymygneVs7XFGl25ukZ66iW0iqwRcHnp+HGkF+F9E/jr
JqBVCN6a9lST4qUO1UGpXJmNMM4Y0ZgrER+LepEisz4yc+PALTOpxmiK41LvoAr51fzpgwdDx46J
qBLPp4HPBfQe2A72XYpS/dUQ9RCPRe/d+cyddz7Tu+22bdtuQx9/99Chdw/Jn356586ndxLZYcYX
aDt4A/hkLKHnJ7tvT6E7ksPXL5zDn2MfuRFoW2H944l4AlNlTKzWQ4ySLE6E6fg660Zt4x2rvdtn
erpnOnff/YY7Xl3fIXnHjNH6XUMTE0PR2Y+3UcqaIAroCcAvlqbAIYa4VwDFsFXHoh4viikvwNS5
Cr5jvctaWbWlp9xRWFjOBbtiHp3OHW4QCgX0fLJkqL2qqax0pdCzPo9GYn4sUBtp8TuFukJYG7y2
h+lK2IMS8CwX0mPT4YVIDJnk36GB9nbp1lsPoHn5qHjgG18m8l1ANtgLhtg7w2vxtvFCWi7ebXN8
/aayVZPXDYtMVWyoM1CFKt5p2jz18A5te2FPItap7scBoFGMVzduykwVRKQoTDxbRAmmDK0Tg6Fk
MhSsKU/YuqZm+gcmm24Yad72sy2pzlC402Jgt/f1zuweHvzUNUVi/mbFXvCetAH9fGJvLg3/6veQ
98t96EVx4TyOtZj/NtoM9sRRtTBG3SlthnXCw+JYrixvIvuSX5ds3xDv3LKy60op2tg02NwieJp0
gVQ47HYF0S0ta9a0iIFwn7RpItUf9j3ii0Z9tZHoCaff7/R4vYotgmw30SZFdyobKtl0PCOiwB8x
EaGmjPINVqz86OaWG1d3rUf1qvZGZga03zuy5u4rmzSblsacBPEONRpkYg52C/GMeGxp7Ijljs7G
DnX4tVj2FZcepGvBNisoD/Ej2DGQPMHgRVPjLEuicViLXQu2Neqha+dni/MGTfXVFnv1XVV2S1V9
cf6GvUfOzo7s2TOyes8edN3ZeaRn1xQ3FNssyHznptn55L5H98EP1ufSnZfuoMZBRozo+ojeVOBV
fMAqbeu2m4p8rS3oJdm3crINdRD9rbC3bhgPkacae3oMTyIWpo8g98COQclTYROk6+Ld3XF0WL7a
zldb0WElTnDEthmwbQgcRiHtfRBnRA0xAIMapRyI4/tmB1amLAF/ZW/MkW912mxOdFos3jCSnDB0
b9fouTgfa5Rb8ftWQptKoOfQ64DuCRATgrQpEo5ltz/BFuRsP34tXAZPUUWN2z/ct3LTppV1vCUQ
33DgwIax/f4gx5cY3N5g0GszVxj1FRV6I9pQdtA73r3xqt7uq4we24F16w/Mbo4MWipsDYONc1GH
w2bliM540a6mXVQBoDxYgR3QgE8I2r6+Y8d6XYcOJOK0a+HMTPPjj4PfgCLE98soG7YAo2qqxG+8
yAhmEyYLZcTxifxhnRQ3ul3lrX0dE1cwtrwVTqupia9ihFq60Fi2gtZt6PJ12rW8FEyh7/2ILmMD
Dm9C/qLNfT3SltjIfsK+owDw1AM/FdvxMikgP7p31GDYdfToLoNh5FqUN7JbvG/H9vvE/aAXlvUj
ME8L0mJkjHDIVACCCfpwfEOHdM299w7PDA3N0Dp033/fh7Sje5E8sxfbD3A9A/NKlFlpfzhz6qn9
H/3oQVqn+IIy7ockN6ISTHrguASjjh0jo1TZ6xXcQhE1KWGxnzFka5ENxN492t5wvXH2gXlal9y9
pnunfq/49uGf3kupPBCryIIA2nnMB74RS1IBWrdwHvOSX1VwTpFpXM1FIGkYl/AQWkc+g1iI7CTm
UgkOsUAG29gqfXdQMox/yvJsQCpF31k4v3NM5VuljHXxAuEKsIuqej8mSXPdN33rW8D0P1Gd/EzO
euUr66WHlZJgmWS/Smcacma8RgIIZAct9CcmpX/9F+muz8nP0U75V8i4cBY1Er99C3IfJ8nCI3oN
DDS+Kj0vPQ8qnEF9ZPBxJQZdIDFIiy0ijeWLws3ZI4uDy/zZbEBR7MJBdIMMCMQNK8bLEOsFAtb+
ge3bB4rgKyjB+m1d2X314+jFM+0TSSVGrLj0MOFfiREaTEqbiYABhP1UhwTIOkliVJ0j1Z7xDh9n
Yx3GmuLi4aQrXlLCVFbPHzk7L7+dFlW79RabraSruDAvr1pfVCQypas+Ozs/P7FYdieJhSbV6pQA
xQJeYzZeNC71D+xoCV3Tu68o0JkKFj37LK2b7o9fwTxxduWWLiWPfg9ivoFywjqrGTOnwRHHI8RY
jHN+DY5C5p+V6uq7nD6/c3OKK6kV4hjDpvvAgpKaYK3VV13bxDetRhpR43db6qtrGt0d61DaBt8k
fkdsEBv7Q9LK/0AvygHAXzETo69TfDpBArNewV0Sqr9d1yFN9nRvk5KNnX50lfxA9zXTPfh3IIXn
UmAnVyv2BrlgCYocm+6FUPUEWrdwBsIYpYz5NU0puIY0glYTMSaECE52WSNNHevvP9Y7XdvZy1X2
ddVNg32dPX8erOvzt764d++Lt6J1Kg14alZ8D3xAy0M5CRQ0yNGbaOgd39c7OtK77667fowSv/2t
/J2c8YWYJyAGHo6ab5Su7x0ZBXd46t+/i6SLFzO0qYvKGkV4nBFrIm+++eAh+IElkoPEznBe5iex
liXIl7ZTjNMJYqsQaGsUY5W46aJSf7v0W2QHe508/oT4yitJfyCZjiHHId/g8H5jgIYHAxujgEr6
hRaHCy4osvbWCamSMbskjjE688ABKlyBwITci47abXZG3oCO2uwsI68FyRbVK0quQb5JoMrUKzh/
wBEKxyqce+E5Aqk/OKoO9FfSjhwg4TWXwREgt1UcdzvLW3o7CkzWDJB4agiQfE1EFgVK3Kk/BCXE
Lk5R50i1TbHA9ty5c01Nab9yg0+vwFktUgouPYFeLVRgZIGQWzooDcYTg6cOCnabgD4tb0da+QL6
dLy/Pzo0UCF4/gwsrSB5GoP3JqI6s5LqC2owEtIbffPUeHKgpSo8ttpSWRNp8BnLq+tgFfuj7TWl
vUFpfOGp8Gj8B3eHHZXC3yJm3iy+tAQzcWzIYuYOlC+DQ4ifFDOYf1nc1L8Pbv5QlL9IgHMpbpJv
XErn4CaunmndiRN/HDfx839dJv+8B+ef+hKf+CjEpvmc/DMXOzWEMwQeVNVzQJJmevYpjH/0ozep
v2vsNObiD0GfWBp+CHoGO6RA0fHjtG5yZfdWsS0YaFf4f5vwL8MWj7GT1apZbgYsE0KCFaGEAGEa
w03+nmB89kgGJa2WZv+g4AOobN/lSQQ7TSAewceCxlBfxbro2D4Fo/86OLlAcNKBYxQRSQFGdjFo
su5ayen3AUrWlum8IkbJqX57UoOCghVgEUByNE/U1NZavNVCo7v9bwkj36KbaQuxLzsdKdFEjk1N
Tfcdn5rCA6+U5/Fg1CN/lUxQ8G04Bw+NCqKi4d6JTb0HFTz8/veR6eKTT16k/jgevnHhXcScPv2n
4WENoedSVgRvYyXNZ/GjQMvRpDPk4T9enWisMUkAGi2bGuxak2tlFfPOgDcQe7mNtIXWdbavWkEX
1VUePGi2Z2IAKgKc1Ks4aVawUcFIgMaahMTVuRVAjMiD6EG73W6W14NEedivNH1g13rICuuoYLo2
ThdwGHK1bq3ZpFX8zKWaOmk0GKJCgYnV9M3PDre3rwJjn+1PpQZnZ/3+7m5vCNxQvh2bfqiuu7v2
rngshr2yrm4ePyXZgR8MsIp7mgeumR5g5Z8fbW1+uDm9XiGQqRxrpnY41FgIK5ZI41oNxjSANoBr
FdgA0OIquGnFIQXaqCW9ddYYMWrSHTtXflP+SqVrV4B76+g3OjPjNJvTvZhfUA/QEagYqUTMj3DX
OsLEMz1a8kJgpjyBgIddUVhU5KmtEYqKygp+kShtG2ov9XroUMDB1YVQSKEXvvQu2gp61eB9wnCp
pt+CH5EWRCvCfUycwbKMAImNiY0wJ5yWac5WVOaq4oMRp8fUnYiDk2rdgVaEuiCY+ARNJK9NW27T
F3aZU01iXFqLaDEv7mOtYrp2SoLuFpznqJ1S/FBSQgXs3mtINcIXNu/eGxoaGjZu3BitjFqwkctv
sNFKsoa0SL1A/wPYsJ7sibJ+mdYnpyziVuUXfZXSAtWlO6FK7uQlMcFG8emeTWxZ3gA7K6gOwhya
4rhFqUMQEodqoyy+lMkd5G+E67xxEecOd1MZX2sFPibcByE1DmkS80zG27QkRgN9VBMPlZdN9A3Z
KxR3e7g2FAyY0K7mdZZyywOf8Cv+dhJ1+bytL+P+FxqkztI2pRdrWHJ2crZltKVltESsrxe96Kf4
dYvFn/T5klkf3U2X4RhEMDFiR7g9fmpaiu3bF5MmfiN/hS6TX0eWhbeBC+5Vr6M+RVUQFIhoVazK
diq1Ple+oyZabS0uZZwVxvLiCk+d0x3SODWVZsZeRKnnPhRtpz1gA2Ww7ky6C5zPGzOdUiPi0Uhs
Wxhte/Z3wWBo69YheTyKHkZPB1o2yLsaUVh+zz9x+0FEKUmFhtD8KKHpwPuoUownsFiX6R5rgP4o
ph87VG4KpIItzqFVidhQZM2OK3MZfeYJK1fhCoVcbWWCa6Sls7PFM3xVIJPKqLq4aDfwrKcCVAR7
5LJ2snZp03mpplyhq7K22lpSUuELVbmN9ni302ywdoSq0N2L1P9MIN9RyfLeOo6vzgvkd8QrYiXF
9fZgc3TJgizpu1WnO2E4UJRpSN+LVu0EWS/beGtf2ndDJ9W+m0bNyU+TnLw0Nys3QjaQzcytvYnx
dHZOe+bmqPefC+aUnVva25OZix5dNPckzC3FvUh1riYRAbZaY6YoCI43jPcEApNqbYBemZsbGJAn
oETI0LgZPMVMorh6kJVuuGoy8iSZCvM4a7WydnaDuaIkW290+1dYS/0l5oXHMqUH2IFC936ilwGf
ZWY10yyLSlk9XYvjU1rj7y2JU2n63yR5pgXTz/FzRummZ2V/navnuPoCAAyn+Y6s5A/id7kVrL6c
Zcv1C1uy8it11hdI3WnA2UiMh3Qkkm7CCTEt+sILk96+l5+5aW7uH18YnYGCRZR/IgannntOiSMr
Lq0j9ZGQrY+Ey4QH5WQxp2oKeDSL4kVJ11hOGVXK5kaPLudNg6SsAnmNJM8/DTuKT/bAAIw5VdI4
WN531Urp9NzcQiTdYyR5LPXzzDywudx5q8Dq1qnzRmDeY5l5l2TS18e2B+uTNrmcqbRidIfV2T3Y
5ha+mp6vUeuS+yHOEgTIremW24da5T292DgILbphiWmAbK/A8yzRSc1+EyDdxlQp9j8Sqp7GDkTj
T6n7cscJoP/GlAH7GhmXIuMunYRxj4OuBB3VcVjfjakxRUtldBPWEXS79HMYfyfoplGqfTJjmU4b
U4kl6mAa2xZro5zl3ENyYnMWjXHNDDiswDATOdTR3IwrZ29yaGZmKPm6+EtcPL/+yN41UD4/otYr
pH67GTRlsxWcZom3k4ruW4scPbe+Q7tVV8eakTrvNPE/5nKVngArtKTa2wwbsLji+x9Y4A9CC/Zl
Ca0DsEmLaX0sh9ZJNS5cnhbeuyXknlc2cjHFPWRD0zRvJjRdl6W5ZB2XED+xaEUX88gsqZLjA5/7
CR+SfV2G0zI7WsLrsUVGtZjXg0tdJaMbA/HDjjkmtHxCSQzIwT1BZyPJF4weDbY3QWP+RGU0tP7I
7JouPpoYgZpieGRPy0KkbfWe+MVwdbW4am52PuTtHNo9O49e3jd2RQtq8chb9o2tbpafdaq2iOvO
08puL688cfTKVp8WMJplFSh9F4HAD0ALtMjSQmA0y2nZFtM6qVjOclpqlMuS61eMZjnFciUSkDhH
aN6f3tHLUF22o1kGoUWbuZxP67LYp9YRp5UaCmvPpivjOVD+jhtSpDiGYJ7KrY/TfZc+JWIpp03L
Oy9S0eLWS19LTu9FyZ17wZY8OFIl1AZrJu0T3FqN2vJUz8E/X0ErvdUqxmP1hrxCnzY/OZRKbhxp
7RPpwlK7we5pa/XViRCArkW3NQ+tH5is4ruDPR/mXB/mXH+PORfpUf8ZOZcy78/Pucj8bM5VSLpI
l+kO5BJbbBVpia5dZBQL96rE/5/lXOrdIRtVjStnIQEAb2YTbOaOlAKQnpxbE+fiLo/D0Rb1uZzh
+ORA/8xUV9K+oka9W4OOCAF7uaZJ63L62dDt3cO7Z3r7tju8v9vS2RkOdX6Yn32Yn32Yn32Yn/3f
5mcalbcS/205ZybLjRYlFUG+uCRcpmVaEjLVc79HSX/NQVH5fCxzMJG9K4yyp4CPnhqew+cQ+1cT
WJF3ps8Dx8bBHcbHoLK/Dh3OXNFT6T/2gek/dmo1oT+n0t+Rpr92I9CfuAJA6weL6eN+dB79OcBW
fOdGy+OjJ/b9Lq+gPMW6PH/gEsvnsI3dk3OTZRDfZKnLvcmC+eIW8AX6S8AX33ZT+GpyDwOVM4aM
EBcUrve66zqUM0Fg6kmoZ4L0lwjkjyY1yJc5G8Rsg271cHAM/TXsoFz+JdiB+YUXJpfZQTGpAXCO
UpZZR6OLXJGNoHpF+JT86k++hrifPEmfJPK2po/g/uL55C41GgLsxvcdYsQxYssPa3jsOJwQR7mH
NF1oc6uftw+UN+aczTQm2ltWU3/hmQJHt6Jiku8vy/W5xWDenUGbpff+IbJd2d7UR+vUe//v9z8B
f/r9+aX/owLceHicAo5OlSuh/UH/lwXvwz9Tv0cH8Ki4ak1c2/pkcv05/NSWOe/9saJDEeIR+jFp
6qdPE5R6cj+8rFLu/njIuZuIlMxdC9uIcQ9+ccpbnqmhNrq1137HeoOh5SrL4CZET/RYP9JoMIzd
9nnRXGoQhydFKS4WlpWYxGCjOJ7mIdBl2A/VuxRGfQQJsXsk+EFr5EfoMvmzaCITg/vU/1XJuV2i
3Od4av+Om1KZOyaoWD13wHNOkzm63DmI3MVQ7qVoTkkHMxPxL9kP7P4XvPbNNQAAAHja5T3bjhtH
dm1Ja69nd7wX7NMG2BTWQFYCaMrSei+WgwCjGY5EeDQzIDnSCgGCFLuLZFnNbm5fhqKRH8hP5Cm/
kJe8BMhX5A+CPOYtb8k5p051VTebQ1KX9QKxMDPF7rqc+62K5SAIfvnBPwUfBOa/f/kg5vYHwcGt
33P7VvDRrSG3bwcPbv0bt+8EB7c/4vb3gh/dfsjtD4OPbz/n9kdB5/a/cvv7wad37nP74+Dnd/6R
2wfBP3zPwvCD4BcfvuT2D4P7H/4Htw//8tPeJbc/Cf4q+ndu/zg4iP6X2z8JPlI/Bwg/uPMxIPAN
QYvtD4Kf3folt28Fn9w65vbtYHzrb7l9B/r8N7e/F/zi9k+5/WHw09uPuf1R8Ifbf8/t7went/+T
2x8HX9wZcvsg+J87/8ztHwR//eFfcPuHwd99+Jrbh39z+tH3uf1JcBYV3P5x8LPov7j9k+ATdRAc
B2mwCFZBFuhgGsyCIhDBw+Bz+Pdl8Bm1HsBvAf1mgYRecaCCHD4/hnEZjMBPHfh8BG9i+OvmyekT
vlfw9xp+R0EXoH8BfQfBedCHnyfBI+h1Ce9TGKGCkH5H8GwMMIngFJ4n8OxJUNLq+EZCrxCel/RG
QP8EPmfQfwGfNY0QsOoKfnC2OawqYEUF73GdCEaGXk/EQ8BTTf0R/jH08N9P4HcBOGnCKVyjmIF4
STO9gpbpp4kiCvpI+NsNguN0scr0dFaIh59//uVnDz9/8FAcz2QWq1w8TrOpyjviKI4F9clFpnKV
Xauoe/DiaHDeP3/ySFxmaaHCQkVivBKnaVI8KWUWCRmGaZkUQiVhtloUOk1EvsoLNe+KgVpkaVSG
9DDNRKTzItPj0nyeiGKmcxFawGDiZZq9EvBMx7GayhjAPgueAh8E8CAmDDXgE5w9PRVP4jTT0B4Q
kiW8RhYFAzUtYwmNusj4AjOh9hm0CyJfBj0V9I0qhuckGG1LP/IENGDyGepN0uxMFYXKZkpGSJ38
kXBwPiKq74DOXZD4Lvzcg06fQncNHEcZQzn+FF4/6D64Jz4906FKcvWpnbA5nZ2tbTlRyYgkycoI
dZRUyRJkZO4mnfNAFsgvKYpMRmougX3A17pcBTdOJZgfopUjwuNJUJ9WAMWFIzlJ5Na1EFERXMBb
TUZBE/rNmSMlLmJ9rXQG7/7fWozvVvFnJAsLIPh9+Lekf10CsCkjk0pCuoTsHAYXxeLR/fvL5bIb
VxIyQQHphun87Sa/7z27D9RymtWFGWfws2X5+9S6PyX16S5mi2Cr6Ivgij2ZaNgE9H1T8nQoOYr6
H4Kfw5/HJJMhCXsInNbwdsqygSNPYP4lPEMMzIox9XlVqSXKbEQylXjjtkGLay/h+Rjamvp1SL4S
klhJcmZhmZCMz9kaHQNMVsKNRqHsIla2vyRIULdCkvBrgmhBWvYKfqOi4/ohQyNppFstZS2ckLzb
+GFFuAoab2iJ2KYezgbbOVHGadgmaiAEPvd6TMd9uIhWYFRpsbPYFrOMcC6IUgjBkkYntLbDx6y7
jWNdsmoxvTHwJGzhDJ6S1ilaoIkbeCDVEIKSPzuK50Q3hFMSpkj3czDFI4+rTRpYWhs5RehzgmHR
oE4TCvM0obU/Y1ol5PoVtceEK87Rp/ktvSLiucF9N2moS0/m0U6Q5GIvzbSPqnnKilpmvtOKSsMG
ldY5k1X8a5PNkMdNKCSKAbZHxI/P3uE/X7rXIca3o614OaohVnHNlxoaNXk6vtGa4aqb7dn7tT+4
dt0CiT3tj5FXy0/UlJjtWsYQZPB2VenDLvo8akjHzdzQFJXEwJGIQyXEdMXyFpMFMNxBHQmhn9VR
WcUeBpM508BgJgH6BfPM9cw929RGky5ZxLzSlIgh9G3QusXstOiE2MG3zulpUkVLcSWPhr8x0WHb
PAb7opolqUVnKdkuh7UkjpoYrj5WAh0MJbRHdRN7LGi89uTGjikJcxOJfFtxqhkjNqGwGbLBOKt4
ZmE0EmBobqLZBUO+oghyRnydQXtG9qmptU6bt3PBrma0T3JGX/e1mnorj0Ml9WzTlHotAKHLSXJ9
qi6JgrMdLfH7sKNnpDG6gqgeF2CPK8DKxF9I+9Wab7SQW29nrT/y0Hq6dWs6Ic3p7MSZKftP88l5
O7emCl6z9chZZzo7+N8Ow+Xj71eC9vWVLpVcsDRjT8lylHnyk1XPxwxzQpqQe+sZ+2+xrUfAbZ49
IZs45vjO2ummNhyzHpcMh5HNgumZs6ew1EE7mjL9F6xtBu6YZFl6ed9dLyJtrnrW6H1vg4ewuPsW
0XCh7j19GxHSWnnNg93EozHbFMx/rV8MOWmXHAVkHGcnTJdX8GwFI1Mvq8b17zNfr8kmLtcynIik
SRPe31aW9Oa15tTWbC1F9dvMmXER4Zpp3K2yrdF7kQ3j6x5ulBJceV0WSoqCLFesDCPeJl9KARYb
myimZ5uNsLY4Ikra+VEGrO3ahoGJX1Oyys4ahS2Yzsm6mWymGY/4tlrXNLGNsm0c2I3axosgb6PK
e9nsJ6c6zIx67YKPlfcF2TRTXdMcS7ioxmVWu2muk7eXzFVLN5t1NDV1F5100m9jMOFVzrMaHULS
PYTAcMq3AAbma64z2pX7ntVV7LmaOoUepG6ZE85qbZXKr5C5bKCN7glHKpln73OPQk5f3oYH7zoS
6LEcG10zdmxAdDURXOhFz5v61yOCbfG+sewu+8rY8oUtUb61RSbXwZ4ziiqt534/NLls0WSzZ2Ri
4Jv0AOumfuahKrmzFdHdKGViG0XVWsFRbkLRU9Sa02uvH45dcJSds+63WaexF2fnG6tBTym/VayT
fuXB4o5/XxEUD2p47i4Xkyr7Nfks0lCQhmVk93IvP4s58l7HJ/R4VIfyFccXJcl1M092MCLlbH1r
vYLd2bBzIat6pbMsNjPICJ6C+jo50Wy7fAtnclZFPZ1t9OONOqy75tWuhmB3K3fNrN+PdvU3ZlOX
a9nUwMumfK0zUpKQZMaEx5S9go0P/RrarGFrb6Kcs+M3y5efsbrsvykb7yYH7Hh+/U1yUlvHdDq/
SyXH0npCWugk++1ob/xKyRBb7MxmmakyfFuLKe2sIe1Jqb2siv17TZQpvcjJccpEHCH1LGqe3LcJ
9SzT2o8JR2wJwWuor+l5SrIj1/bH9qmg3azfLm5s2xEMW044tNkEK4UpxTJ+Xlyvr5lZrzhDMSsN
uZexY21nKs7g/bKqgro4y4/oDS8UPV3VYuG8ijucrqENqNf2XKUB18rXrOQ3JGU4W1SLZixHjP/c
Ht++vfdej/JNtcRFuops4M2xRxuFBNEhJdk0mnsBvEJf+QQsaA/+oVQ9hc8j7+0LsMRn8M/thzyD
vyfw9BT6mPMtJ/BzCe86NMMAPp0Dtmc0U4/7nFF7wPMMCF5c1fTB/T582w+e0xP826PVse/XMBtu
jJ8yhD2i6wXMNCK64psR74X3aridwu8Bjxm8Aa7Y9zmNHdKYHu2z4257j552GPJj6P8MaIDje97T
AcxtKYM0G8KKQ5rrWfC46mspMqRZvybYLqoROPdzht9iPySIB/CuR5S8oPX2o1F/x75mfnx3RJgP
iQ4Ifw9WPeGzB3iYoQ99hjXKnsGzZ/TcrXRM0nJE/c/oXR+e78PhjsezZ/DspcexY1obITL0GDSk
z85+Ewbrev523szVsIwea/I1ReUn/NMOzZ0O36OZ+o4ki2qi4LyyEYvGCQy7juJ9DLuTtFvGnXk1
b1tRWD/DsT0e0ZV3XlXx+7x67tfoXQVjM8b1KoxfuTXzIq6d2hs/gnX1IkkW1+3c1P1dZw+PtxnW
dsxl5WPr2O/ClTr2Jra45vjNZLnvKxqb8L5T6lUxfR8mqc5hDzXZOtd6Hr5N/nPeD77LZ8z6e1QM
cq7lYeQ4pEhNs18dUTXX5p037/mvbvDrjtr7VjFGFMuqCpIOWSazd+s/q+udnyfW5QdpbnbPLDcM
Z0VrBjghGTZR9FdUi3/4RtRtYvFd0dJx87um46/fiI5NiP886Gi5K74TSn5BlNwcVdvYX22o+Lfv
nHS8CrDbB89pn3JMNi2vICwY6wmNMFZJ1XZp71LcPCU7q7mGjfbbzGpqxBnH2DF7IszjQhhx7734
YIRiN/rNaKZprTaQkN3eL1duyoM/ri2bbNaxlFcXXt85Qdv/Xe51+/tLo8a+8FcEidl10Cwhj1mG
JeWHN+WFmXcKxJ2X6nDcM27sbnVaz0eoanTC+3ZWcuuQ7hqb1Xnp12Ozt4z6mtHTtnrGr6odEbP2
ktpmRFJZutyrNjfpbKP/vKKOfKMac+edRr/N80HSO6OiqZoacx23WV3tVJV7We0kzYl+YVVDqu8h
WbjzhoyOPRntrnkrVVlSu0eT1Wau7924GH3TDozZfbA7bqaa3al2hhVjby35NdvQqGV/11Xhx7xT
WfK5Ntk4vbPPecX3YTnOCYoLzzdeVedjXjZOX7rTKqo6uxzX6kX1k0FtezR5VVHb/eSZjfM3xRJv
co6lLSqwdTKspexaM1ScWWzPKUre4anvh5gx1gK0VeSbFbRNlKqfPfsjjNPVPnld+ixE7XK9flbB
ev5tlvARefMHN3rznCOdXfnl9hB8Tq2fLbIV6qKqIfoRj5Ecm0HbqFNX5z0En6zEbHrFHkyRftv9
QOPpctJ37dmGBUOaVFGtPUu44nGbLVo9xvKzm5fvQNKNxZ+TvLvM+H2dtfJzincBvdGPNuhT4rrZ
LZ/RyYXNZ7f+lPGlWes3N67lIsh9Mx4nwTM+qeX76rw1Emju1NrvO+VepGC+TWLk2JwtNnj89j3h
YX2229Vo88bWSpeVvUo2nElZt6UWxt2l9ndb5GPfTBVl02G8Ke9s2qi2WsBuea6fpzWj6riy6/vx
qS49ZhYLfRPyK/oO3x/47OPd4Pc30nNR5Qx5rXo4pQgBddrmtf63xvK1Ew03nV3bhqMfIbs4NKpB
Vz/3t7nqWT/B4b5xkK7th5lV1yOOrHWvfP2kqM0IXJU49PLarPG9RnUjbcUadX2OLgh3u5uZV5z9
co9KR84ZUEjn3nIvPq/PXf+miOHKLvC+S2n4c+GrqSG8W852OSr7fC/f3Dav5c6fQi/d+WLj2d03
WN4Vz1wWmXCcvQ/PzPeCYz797Ho2aWO9bEo+O+czUJJ9yX5VNfOdFMw4Jg19Nd/dsvPeq3h+cyzu
f0fFQIryl7GPbtZvvrscdVTFqf7JCv9keDNnqeehzbx194xqyd/dNt++mjNlJJ9KWtX2oMy3gOyJ
mJDPoq28HVQLv2qpMvm1RlzN/+7khDQrrtkLk1+uatLqvlVkd2zdqcykVnVe/y57+7lI9w2ZopUH
9Qq/rXlE1dnalGkUc5XbP+Oxa1ztnxca01ySvMp6bN7GQZNvmvVzsg7X1c6dpZerDLVjiZdlNG5D
EFe5ygRfFiGOpplSc5UUhweHB49XIox1+EonU1HMlDhJl0mcwsBYJ6/wboUyiUSa0LvmtIcHSzXO
daE6Qid5IeMYZ5lk6VxIcXyCX/gfr0S6UAk+l4mQWTjT10osZPhKTtXhQQjTSE2v8cvwYqJjvH9k
lZZCIpSiSGllWHaemwsDfDAODwx6PYCxHcWuGOEVA3Q1BS6WybAQY1UslUoOD2gdGNtErCsuYyVh
niQtYPGZLMxNBTRNzGsU6eFBCX8J8DydFEuZASXOL0aEqoUAoQaaqiyf6QWDY6eAZpImnwFUST5R
mRzHqiv6E8I/SnH1FjIweTKCTizgkS7w6gTog+BgP0RCDBmkCpkM8XPUDOHdpIzj1aPDg892+s+Q
u5r48GDUXItAy1VsbokAiCym47qYHR7U5GxP+Tk8YAESG+QH6Ip45mkMspbBBFmxQj6s83nE5Gig
oZMwLiMF7E5WQLdYIjpRGpbIUYm3V8Aic0mX5cjFAjCjhzlJk4OkK45yZEoEExoJqgSzU3FiDSox
VyAPgFuMdAR849VaH1i+yI1E43UaaWaWllmhc/tWTgAITaCH6XwhE63sm7KYpZn+FpGyN3LYKfDC
H1g4Q8xwRiAAQJ5FoLRIxeVMhzMxk5UQE5vXUMBhwD5gqdVanRSKECpl7JjCtwzJPE9DA+pSF7MW
Id5dRs80KARMxLbg8OBqAfZrIVdWG3FyVDsU/yRCpavEdKJAg9eQmYJ+wh9SOxqpXoN45MCZzpr+
dmAus765ZGmTVtKtNUCDPE2AHtBG+mTYHsPMicpJcFD+cVk2wE7Zk3I+BnuHMm3ZcAw8LmEOoCaY
DQGTTBGcqUoB/gWwDeaOUyOo4i4ZUjv0jB/f8xQCVzeCCCiwehqJCEOEbh0jgLVYLVAXw5lEQ4uw
wFpSvFKrcUpXxSTRfcD1WquldTiRnuqCRLE5ap4mGsQSiZNCz0xE6hog7qLbGu1ODdC6hz5JDg8q
KpRJjKgghWcS/FI6RmsCo52VRzbJKNLYX8YoXc0FwL6mWUFiFFaLzuUK3Iy1I0aqtWGiA9Yh0AI2
qMi1xqHkfvIStG6xvg7SfZGBKco0WAkyNeSsWphLdHsJqCJs6DosU9c5SeRHCybo8q/MwBBKcJmA
lBEAmPlaSxrcJ9FVheOUes3CDE/pSh9zIRC5AQc7CBPAntAHBIj4cjMGuxqBHtAYuAYyNlBo4OgG
otx/zoagafdB2Ml9ZSB8YWXyUYrA62TpTI9RufeA5LJi8nG6AAtc50FUGuehkHZ4EVILUGBt1ALk
F4ikVOQ8vaZn6vUCTHYO3HfiNF41vE1XPE2XCjhpggdcfS5fKfHArNlKC5T8MfjZciEWZbZIc/Jn
IC9unZAw4ilhunmZF9Yn04zqNcZb1QVPHe96MOS+ERZ0BplWhcyIJsD13AgceFYlM5JGYzd41jZf
TRECXlvX5qz3YFffd1OX1k0NyE0Z1gFJknQZqwjiD7KHJkKbsdTWgSMZb9DLOFZy/5YaO3jADun6
Zk+KMSZxfj3IQagnZUbE3gI96EoJE+NyaTaFkOFbYymxa5hGql1U8OdaxiUZJ0IKDEeYqSKvUK1c
JsrHBAxbUmgAXycgZnNp7wNrD9Aa/Cbb6C4iq6TLkwQkYVoWxhdzvAZdrxLyzEN4BDLmbkI8k8uO
dcDG0AMWSgJVyQrnaDuIa4cHHO1R0CCXuRXJb8pM55EOLSKgn2v2dqt6VyYfwhIyuko0rYcDSMhx
eg3B/cuLK3H0ZNDridHToxF9fNE/O6M85NnFSf/0ZUccnRxdjjpiNDg6H54djXrw5GzUG0CfgTge
9OCJOOkN+s+PRv3nPfHiYvD1UFycwoQ9cXpxPhLDi9PRi6NBz6x2ejWAN4ONqw56z3uDYU/0zp/0
z3u9QQcmP754dtk/61Fz8BKBOekPj4bD3rPH+BQBGfZ6X4vRBb44voAZaPnhxdXguCeOL056GyDq
tzyF/uejo/75UMD8vZOT/vkT8bg/Ghpgz/rP+iMadHx0efS4f9Yf9XvtCHcIs2dHLwmx46dH508A
jgGTD7vXF6h4vkXNKMICHutriQE+X3tnkw6jaBDvyEKCCUYXWC74Aj0cA58pSWpx3BlF3hgoVDfs
rdkRnVAnVDxsm4ieAozawhzCmOAW+qqoYz4YA0txkVwUlNyw3nVaFa82q7e4LNzy66jw8mAtwG2h
y93HjE0gd0opxDQaJucLvNYRY67Khzfpn0MefPfBPcy/izajc5nmxTDMNOjqaLVA39nI/Fc1XSew
N4UYo6xUOElHXEB2a1rMO+MTmT7qNaRniAYgK5wDnJRoor8Sdx9uBtcu8TZQEppvC+OvN8NoJ34H
MCK64s2B/OKeqJlqtP7KC/y95KRDATDl4PlqPk7jHCeEzEdNZAiipExKe1d1p12I0SS4C+gKETHk
h2kMSqSKsHtvdw3WRQt8M5lMTTSQyPkGr2zpYN45N2ljLEWxcJWcHB68XdZt8qUR58JfiSGkDvBQ
PAYKy7IR92ZUAqG6FJCxHHO61XH1CMykFWh2gsTlSdusGWNp4thsi+mz5qkZZ/wKExEYvczQ2SYo
dDmFzRZmNP85giM3R8yd3cyvrQdJqqjoEK8prsLVDgb3uMZ8rrJQU4BHgQnOnTNFx0TRrlUrhUKK
GU1mOnN2QxbdT2AgfcDEDcLsDibDCpZHIYfATUdVvkshPNhdCPlByPKb6oq7C8d5Ki5IG6+wHvOS
y5dUVkFPksQmLuJikMto8kIW7cUztPm+ldhcY3GmAGMy8aItMlTgLNY8BXS3eQi8QQFwgbwN0Hyg
uHr2x1Jnjnw4kUfrqqqAyt8UwkcC3Y+vJfnMxvx1vChDMEhV1SIMqAuMEI3hAeKgg0bTqXNyhFOV
hMD5SMkY80BQulxHmqQBoEMETJUQPtcFjS2WcTcvtxIdBH+eEthyn6qV8RTbpwd+uOnTBIvBs1Ve
q269mb2EUb+pjyIDucnxEIGBP5HRaue8qqQW7z3OySgs1RhoPFWI5G/3WAM1m1INp8Yo0kiYNPEq
KZWU4oytpP1dgx6bnOrhAS3s+04rUS4KaPG5xqdZU40R4iacmDzQBae3k1+d9/9wryvu/r4O5wI9
Q27Cw2m8WszQ15qrlHNbaKhX15orGoNMNjQy03HtrxZ6coGDNg5Sm4fB0MpwZC4rr4qi6AgoJA7J
12Z817WqQyssuAbRhcRPSY7IftkadOTggEJtogrbmzdFAJX1eXcjw7vAFSKEHZEF5B583q7Nri+i
sz8vqV4Myk4bLLtgRi4STPMGzMpCx/pb081CgyqbZlEuJLroTaGaLnIVT5ivYayxL7L1QcOKmx0V
mPTwIFMuvnkrjzpCm2qKFaYYbj0L+1DrW1sd1VIDOBoijAgLTuBnKYMqixQLMWBI0R3z/KoKmUzU
KLTZnZxIHRu5AH+5MmSlrSJMbKmUmZjQubrl3atF0oZM4TDggB8jjwirtemKSnlcXWyz1aYuNJax
TMLKmjsEwW/C+LwEL3atCC4Khrwlu29793v9DMe2m96ZO2/+v7H4P8ZhlUwAAAB42m3NWUwOAADA
8d/3laQI5agcOZPclMiZ5CZy37lzRgmVczFzzHjh1bH1JsfEph60MUeIic1DnsicT/FK67nf9n/+
C2rxr9JorXnSXEBQiFBthGkrXDsRIrXXQZSOOuksWowuuuqmu1hx4vXQUy+9Jeijr376G2CgRIMk
GSzZEEMNM9wII41qfo+RItVYacYZL90EE00y2RRTZZgm03RZZphpltnmmGue+RbIttAiORZbYqll
llthpVVWW2OtddbLtcENJ51y2QXnnFXmik/+aPLXdTc991SFjTa5aLNaWzzzQp2XXnntm63eeeOt
W7a55IN67+X54Zczdthup9122eOqfPvsVaBQkf0OOOi7Q0oUK3XEYdccc9RxJ/z020O33fHZF1Ua
fVWuwUd33ffAY/dUOq06EHTeIzWBkNCsooL8YGbOf3jzVf4AAAAAAAH//wACeNpjYGRgYOADYhUG
EGBiYGZgZDgIxIcYDgN5R4CQkYEFLMMAAEd3BBIAAAB42i2OywsBYRTFf98kTYxJ0iyUV1Ek8ixZ
eIQykcfClr7VoMnG/IP4w8bty+Ke0z33nHsvCkhRYYIKdfTEJiEKcYwlpLDCe6BxXzqMyBtFGUTm
Sdx/lzUpxUPUPh5LFmRI48hmlxlXppS5UEUTUKLInJy439wk5VGjToMmLdp06NJjwJARY1as2eCz
Zc+RE2fxF6Rsc9/hK3zgI7gzv/k/AXEVcHja7Z1/cBzlecdf2xhsMKYBgyHxD0wdJ4HQUCBgOyQ2
A7RASpsaMLUxBv7ohKGdDr9JkzThV/hpDEkpSmnKOCQQ1DOOUdB0RulxA1x1lSyvjXVmDluMxesb
n7Vay1pZ++r27F31s3uvpdP5pJPxL2Hd3DxzJ93q7t33+Xyf591nn12JMUKIk8UM8XUx5h/vfOCf
xARxAr8Rvb0ieGfMP/z9fcHvRP4n3hvL8zgx6dpFD74oxlw7I9x6gXh67JpxC8f/8KS1J310UnrC
5AmXTlg64YkJb0zYOEFNnDZxxynJySf+yZQvvHvGvrPmTF02tePsH5yd+9Lc6Q/NEDOenTl71qJZ
1nnGlydNnPaV678294LlF/7qG1suenP6Qxe/Mf2hiTsubbn8rHnT5r97xb4Fc8aumdqx8KaFO66a
HfztNcuvyQZ/K54Rp/SaYhJ2KjYZOx2bjs3AZvZ2i3N7XTGrV4nZvfXiy7ye07tbfIXnr2Jf682J
8/n5Al5/Hbuwd7X4M56/gV2E/Tl2cW+XuITnS/msb/J8We92cTmv5/L6CuzbvY74Dt+1gNcLeb4S
u4rXV/N91/D8F3z+X/J8LXY9r7/L819hN/S+L/6a57/Bvof9LbaI77qR55v4/Jt5XtybEbfw+u94
fSv7sIzn2/i+5XzH7by+g+3v5PX3sbuwu/ndPXzvvdh92P3YA9iD2MN89w94/5+xH2I/wn6M/Qv2
E+yn2CPYo9hjfO7j2BPYz7Ansaewp3nvGexZ7DlsBfY8thJ7ge94Efs59gvsX7GXsJf53ire/yX2
79gr2H9gv8L+E3sVW4X9ms9/DfsN9lvsdewN7He89yZWjf0XFsFWY29ha3j/99hafPI2c1XD7/7A
/LyDvcfr9/HvB9hsCOmGgMDDe/GeLeb1emI+9i3sCuzb2EK2uTr0zF5m3RZL+N1S7FZsGXYbdg/v
34vdh92PPYA9GM6Exwy4zIDLDLjMgMsMuOKlMecwYo/ReozOY3Qeo/PEyjLcZjS3XYy6R3MrC7h1
4VYWcLuhBLcZzW1Gc2ux5zvhtou9V+y9w97vZu872Xt3EIZ7NMMyZPi6kGFZwLBbguGMZjijGd7D
bO6E4S5mVDGjDjO6mxntZEbdApYzJVjuYbZ7mO0eZruH2e5htntgWR4EyxlYzsByBpYzsJyB5Qws
d8FyFyx3wXIXHuwsYLkHT/bgyR482YMne2C5B5blMFnOwHIGljOwnIHlDCxnYLkLlrtguQuWuyCj
U7PcCcsZWM7AsgXLe6ClE1pcaHE1yy4sozfIsSDHghwLcizIsSDHghwLcmKQk9YRT0KOgpwY5CjI
UZCjICcGOQpyFOQYkKMgR0GOghwFOTHIUZATgxwFOZ9CTgZylCZHQY6CnG7IUZBjQY0FNRbUSKiR
UKOgJgY1isinIEdBTgxyFOQoyFGQoyBHQY6CHAU5MchRkBODHAU5uyEnAzlKk6N0FOyGHAU5FtTE
oEZCjQU1FtQoqJFQI6FGQo2EGgk1EmpiUKOgRkGNghoFNQpqFNQoqFFQo6BGQU0MamJQE4OaGNTE
oCYGNQpqFNQoqFFQ0w01CmoU1EiokVAjoUZCjYQaCTUxqFFQo6BGQY2CGgU1CmoU1CioUVATg5oY
1MSgJgY1MaiJQY2CGgU1CmoU1HRDjYKabqiJQU0Maj6Fmt1Q0w01CmoU1CioUVCjxEQxBSrOhLmz
epvFVF6fzW/P6fXFF3v/V3yJ19OwcWyleHcvv82xNjiDn6bw05k8n0VEnNq7lr/bx9/tYQuLv3P4
u918en5LW29pseUu/Q17wy2nhWM4g++f0ruFrVJ6K5OtLLbKstU6tvok/Na9bJViq21s1cVWFlu5
eqs2vnUfW+5gbZLf8iP9eRm9ZSdbxfo+q5kttrGFZIsOtniVLbbzWX9kqz18VootU+HYgs/aw5a2
3tfgs/aypaf3wAy38tgixxY72KJZb6HYQvJZXeF+XoxCXRTqolAXhboo1EWhLgp1UWUaRXkDslA+
AwUxOIi/LkoKYm8alUhU4BVlo906GwWx04V+F/pd6A/iZRry05Cfhvw05KchP62zUxo609CZhs40
dKahM92XndZib/dlqXzc+RF70s6etLMn7exJO3vSzp60syftxJokccbU2SlZlJ2SBdlpY4nslNTZ
KVmQneLEGMmsVDErVcSYdcxMLbPSrjNTOzPTHmamfFZK9q2s8pkp2ZeZDsxKSZ2VkjorOcxqnNgi
mdkqZraKmV3HzNYyq+06IyWZ3XZmt53ZbQ8z0sP8bviZJ0kMSRJDksSQJDEkSQxJEkMkMUQSQyQx
ROKd2r7M8zLvDy/DJIkVSWJFkliRJFYkiRVJYoUkVkhihSRWSLxbqzNMLbEiSaxI6gzj4OnaAZll
Bd5WeFvhbYW3Fd7O4W2FtxXeDtYjHvym8LiPx1087uFxD497eNzF4x4e9/B4Co97eNzD4x4e9/C4
i8c9PO7icQ+P+3h8Cx738Hgaj+/E41vx+Da0sBWvK7werMoUXld43UMTKTzv43kXz3t43sPzHp53
8byH5z00Y+B9D+97eN/D+x7et/G+h/ddvB/oaQue9/B8Gs/vxPNb8fw2NLUV7yu87+H9QFs5vK/w
vsL7weovhb5S6CuFvlLoK4W+UlDhQoUHFR5UeFDhQYUHFR5UeFDhQYUHFR5UuFDhQoULFS5UuFDh
QoUHFR5UeFDhQcU2qGClGGo3hXZTaDeFdlNoN4V2U9DiQosHLR60eNDiQYsHLR60eNDiQYsHLS60
uNDiQosLLS60uNDiQYsHLR60eNCyDVqCeLANWlxocaHFh5RtxIStxIStEONBjAcxnni8zFqkibWI
DzU+1GQ1NXGo8aHGhxofauJQ40ONDzX/AzU+1PhQ40ONDzV1UONDTRxqfKhxwsg5l9fzyAPzsWD9
sYCf+9cgPqRkNSlxSPEhxYcUH1LikOJDig8pPqT4kOJDig8pPqTUQYoPKXFI8XWcsKHFh5Z90LIv
XHfczs93sO2dvO5fe/gQkoWQLIRkISQLIVkIyUJIHEJ8CPEhxIcQH0J8CPEhxIcQH0J8CPEhpA5C
6iCkDkLqIKQOQuogxIcQH0J8CPGhw4cOHzqy0JGFjix0ZKEjCx1Z6IhDhw8dPnT40OFDhw8dPnT4
0OFDhw8dddBRBx110FEHHXXQUQcdPnT40OFDhw8ZPlTUQUUdVDhhDHmP372PfYDdHea8/HFLkOea
w8xQmBX6M8KuAzLCJWFcCDKBjYdj4fH1vN7NeHgTcWEjcWE9ceFDvN2ps4Grj1Gaw2xQmAn6j0/+
+4BMcGMYA4IMYOPZWHhsvYTvWcr33Mr3LON7buN7ggyQPwZpxqPNeLQZjzbj0WY82jzsLHDgMfP6
guOMZjzXjOea8VwznmvGc83DygAHHhev15F+Pd6x8Y6Nbtej2w/R7YcDIv0Lh/noc/tROfq8tnIE
OiKOQJ89xJqbW1Rzs45oze26St3tGNTd8qTcACmdkNIJKZ2Q0gkpnZDSCSmd4YpydkiHG64eLyRn
XRx6PfD47kHrdEEGWIhdiV0detsNV4CLQg8G3usZtH63nL/Jr+w68V4n3usctKb3cOiR0qu1Qet9
4RreHXTFtf9oq391tZsZ7BlQGzyW1Uq7ZLXyvLKjOewjKZirwpGce8BIhhrFkRhBkDtb8FALTLfA
dAtMt8B0C0y3wHQ10U8S/TKMtJHoJ+F7NdFPEv0k0U/C+mqinyT6SfZkFdFPEv0k0S9N9EujgWqi
n0QH1UQ/iRY2sLcfE/0yRfU3xV6n0UMLkVBCRAuaaNE1uEYioUQbq4mEkkgoiYQSnawmEkoioWSm
TCKhJBJKImGaSJhGQ9VEQomOqomEQfXhI2bzYyJhpqgGp5jVNHpqISJKNFWNplrQVAuaaiEiSma8
kRlvZMYbmfFGZryRGW9EV6uJiJKIKImIkogoiYiSiCiJiJKIKImIkoiYRn/V6K8a/VWjv2r0V43+
qomIGSJihoiYISJm8KIiIkoiosSbjXizEW824s1GvNmINxvR5WoioiQiSiKiJCJKIqIkIkoioiQi
SiJiGu1Wo91qtFuNdqvRbjXarSYiZoiIGSJihoiYgQ5FRJQQotBzNXquRs8b0PNHEKMgJg0xaSKi
JCJKIqIsu/KK6NwpocfXuTNSlDsjBbnzdyVyZ0TnzojOnTuh5y3oMQoqKx9DzypdvS2VR32dRyNF
eTRSZuUV0Xk0UrDGfgt6jIIqy8fQs0pXcPfn00iJfOpDjw89PvT40ONDjw89kYPIpxHoiUBPBHoi
0BOBngj0GNBjQI8BPQb0rCrIpz70+NDjQ48PPT70+NATGWY+jUBPBHoi0BOBngj0RKDHgB4Degzo
MaBnlc6nq6AnAj0R6Nmp1+2rCqq4/fk0iMM5vK6GiMO5MnE4x6zmmNUcs5pjVnPMak5HwRx7nmPP
c+x5jj3Psee5QTNCd5mRdJcZSTcj6WYk3Yykm5F0M5JuPZJuRtLNSLoZSTcj6WYk3SVHMoeRGOFI
LgtH8y6jMRiNwWgaGM06RrOB0Rjh0eBitrmFbZbw81LsVrZZxja3sc09/Hwvdh92P/YA9mBIxzpG
ZDAiQ/xc/B8jMhiRwYgCL65jROvwnMJzipGtY2QbGNkG8VyJepoaUE87l/Hna2o1aN0rU1NbU7am
djnHjvl6Whsz0MYMpJmB7UPU02rQuVemnvZ8iXqaW1RPa9b1tDZmtY1ZTTOr20vU01RRPa2GGa9h
xmuY8RpmvIYZrzlC9bTtBfW0GrxZA181eLMGb9bgzZojUE/brutp2/tWfDW8LlVLmxNWTIKjocvY
Ks9xI16sx4vr8WJTWP0Iqh0DOW5kxuuZ8fXMeFNYuRisYrGC9werOER47y1sLd+d57ipr3IwF449
OPbg2INjD449OPbg2CtawTeEDM4jO87H8vylGXkP/AXsebDnDVi138AeB/wsYfulWJ6dNHvSAzsB
NwpuPLjx4MYbcrW+gr8balUe4f23sBrsD3z+O9h7ek3Xxh62sYdt7GEbe9jGHraxh20o1UKpDkp1
2NtWlOqwx2mU6qBUB6U67H0GpTooNaurWw5KdVCqg1IdlGqhVAelWijV0edUg3qIw2zt0fWQHmYr
y2ztYrbaUKvDjLUxY22o1WHWWlGrw8ylUauDWh3U6jCLGdTqoNYss/kpanVQq4NaHdTqoFYLtTqo
1UKtjj66DeohDrO+R9dDepj1LLO+i1lvQ7EOM28x823MfBsz34ZiHWa/ldlvZfZbmf1WZr+V2W9l
9tMo1kGxDop1UKyDYrMoNotisyg2i2IdFOugWAvFWijWQrEWirVQrIViHRTroFgHxTp4M4tiHRTr
4NVWvNqKV1vxaitebcWrrXg1jWIdFOugWAfFOig2i2KzKDaLYrMo1kGxFoq1UKyFYi0Ua6FYC8U6
KNZBsQ6KdSAki2IdKMmiWAvFWvrcanCUm4WaXVCzC2oclOugXCekR0KPhB4JPRJ6JPRI6JHQUwc9
NvTY0BOHHltXwW3osaHH1lVwG3ps6FkLPTb02NBjQ4+tq+A29NRBjw09LboKHuReF3pc6NlfG+mC
Hgk9NvRI6JHQY0NPHHpsXRG3oceGHltXxG3osaHnj9BjQ48NPTb02LoibkNPHfTY0CN1RTzI6y70
BDUSV9dIuqBHQo+tq+PBmXkJPRJ6bOiJQ08ceuLQE4eeOPTEdXXchh4bemzosaHHhh4bemzosaHH
hh57iOq4DT029NjQY+saiQ09NvTEoScOPXHoiUNPHHriukJuQ48NPTb02NBjQ48NPTb02NBjD1Eh
t6HHhh4bemxdI7F1jWR/pbwFeqSukXRBTxf02NBjQ48dnmMd6hyKoVcIVXqFkCpaIWwuWCH8vsQK
wdArBEOfdQvqsG64SsjXXft7N67mO/KrgVTRamBz32pg4CqgWa8CDL0KcMNVQL6mGvRmGEXnR4Lo
XQUBVRBQBQFVEFAFAVUQkDqIjG9AgAEBBgQYEGBAgHFAxu/P9lV4vwrvV+H9Krxfhfer8H5qmNne
wPsG3jfwvoH3DbxvHJDtV4d1HQOvG2ENtb922p/lnynj7QZihdK10yrdvZMo6t5JFHTvvFqie6dB
d+806O4dS8eKgd07+RpqcOZMFZw5U5qCoHsnUdS9kyjo3vm3Et07zbp7p0F373TpODGweydfRw3O
oCkIaSgiRA1BSOIguncaIKQBQhogpAFCGiCk4YDunf7OncEISQyzc6cBQhogpAFCGiCkAUIaDujc
WR1WChogpEFX2bsK6qb93TovlKFkXcFZtiZdJdhUVCXYVFAleLtElaBeVwnW6SpBu44LrqbEgpJP
ySgdfT1e+SrBflKCKkGTrhJsKqoSbCqoElglqgRNukqwTlcJOnTscDUpFqR8Skbp6OvzylcJ6oto
CaoETdDSBC1N0NIELU3Q0gQtmw6iSlAPLfXQUg8t9dBSDy31JaruHQVVgiaIaYKYJohpgpgmiGmC
mE3DrBLUQ0w9xNRDTD3E1ENMfYmqe4euEnRATj3k1ENOO+R0kFE6SlYJytGTKDjurNVZJVGUVRIF
WeX1ElklobNKQmcV2ZdV5jGq+Vj+7F6wmt2r6fEK6AmOAWp1tkkUZZtEwbHnGyWOPdfprJMIs87i
XrMv8yzhe5di+bN7wWp2r6YnOI5IlMhGtdBTCz210FMLPbXQU6tjzXCzUQJ6EtCTgJ4E9CSgJ1Hi
+DNbkJFqoacWemqhpxZ6aqGnVseb4WSkBPQkoCcBPQnoSUBPosTxZ1Yffwar2QT0JKBHQo+pV7N7
oWfvgAx1SRl6NoZrkPM5Lgz6NS7m50uxy4hkl+uadOGaIlhLXM+2i9jmJuwWXTvOrw82DvBIsAZ4
jN89jj2B/Qx7EnsKC+q7Qb7+Na9fw36D/RZ7HXsDi4T9kEF03chebmQvu8Ia7E/FOH3serjqLcOp
tSzQx7pHq8bSX1/xjkldpa+mIvaNqJrK83jfh+ccBOTgOQfPOd3VloPnXBEVqaPQ1ZbTdOTQR+4Q
u9rcg+hqyxV1teXQXK7S1VaCmpUlImCuIAIeyT7IFMSkNDGGJqZU7jw8fZCLiSP91KSgJqWpMTQ1
VhE1hbnzaFJjHANqDE2NMYCat5mzGn5XipxHj0I/ZPy46Ic82r2QR7MP8q6SfZCjsQdytPQ/bqj0
P1b6H0foNceV/sdjd93xd4fd/3iovY/HR9/jgdfG+X3XxpW+Hs7XfObPOhzu69+G2+snda+fhS+j
KN1E6SZKN1F6FKWbKN3Ex++gdAul70HpO1C6ic+jKN3E71GUbrL3Bnv/ib4OztJ12KCuYjELHUP0
+pmwEEX1Fqo3Ub0JF1FUb6J6U/f6Wah+D6rfgepNVB9F9SbsRFG9ycxuZmY/0dfEWboOG8yuxex2
FPT6RYt6/cwhev2iqN9E/SbqN1G/ifpN1G+ifhP1m6jfRP0mzEVhLgpzUZiLwlwU5qIlrpezUL+J
+s0hev2iqN9E/SbqN1G/ifpN1G+ifhP1m6jfhNcovEbhNQqvUXiNwmu0xHV0Fuo3IcWC4SgMRyHG
gJjNEBOc6+mAmA7Ub6J+E/WbZa/x/2y9fsPr83vtGPb5vVbp8zvEPr+j3dM2dtg9bc8clZ62Sj/b
QdZdR1gv21hxojhFTBZCnCGmiRPELB6Tye8LxGniSh4XiKvEzcF9hy6cFt5F6JvigTGLx7003jjx
lxOePPnNSfK0KafJL0zg8Yv+xxmPnPnY1NXnbDlny7RJ+vHyjLkz3p+5bKY698VZ58+Kjzfyj/OW
z35pTl3h337VOr8r/6h0s/V1syndzRb0GJhFPQam7jHY381W3GNg6R4DS/cYBOf/pO4x2L9q6WS2
7DLdbEGfgYlWswV9BqbuM9jfzVbcZ7BH9xlYus8gOFaRus9g/6olw6zbZbrZ1BDdbGaJXoPibrb9
vQaDdbMV3ynELug3GKybzSzRb1DczaaG6GYrvlOIre8UYhd0s0l9zGIXdLP19x6sPCbdbJVOts9/
J9vxdd+TSk/eaOnJe/qY9+RV+vFGdj/eyhHRj3dkevHqK714R7AXb8WI6cU7/H14730u+/BGUg/e
8d9/d12Zo22z4Gh7c1/tJ6iAz2OO5mPf4ljlCp7zka/wqNssOOqWfXd/CCrYS/h5KZY/DpQ6cvX3
yPUffZtwZ8KdCXcm3JlwZ5Y5AxJcYW7Cjgk7JuyYsGPCjlnmDEhwpbgsqJ3Ivogxcq7rrdzxbzTd
8e+Rg+5XGo33bjuee5We/cydMJW7gOW7YEZL18tzFVIOQ7/UaKFlRYWWw9RdN1qIGTn3GKv07470
/t3Re/ehKcPu1DjaI1s2Ykf2yIgd2Y0jdmTXj9iRXTnskT1/HNdeE5Xa6xG6/rnS4VbpcCvf4bZi
RF9ZXLmqeORdVfxopdY6Qv9Pxuej3lr5v3/H9qrDo10PGSvGi5vF7UKIO3mcIu4RD4pJ4mHxkjhd
vCxeEReJMTP9sHt6jlg85sfjXhvfcuJDJ4mTXpm48eQ1pyw89W796J78k/7HaWfrhzx9wmlyypwp
c8763tnPfjE+TU1TJ6859e7p8fCM7cD1T//ap133R5thh/CF4fVLwbVLwXVLe8Lzz8X3J/9O2M2U
X7/k+6TNsMM3ODZfFF57ZOpjAnXA/cWXhx1JJnTYfWuQwfulg+uHTDxu4nETj5t43MTjZnjuevA+
6uAaIBMvmnjRxIsmXjTxollwTtvEYyYe26OPMdQh/t/Zyv+/GB3//2JlpQpeucb8M0X/kXs36GNQ
pxdzy9ZerWFUnqwjdOf3wJNW2crTyLuD0KEeGVbuHnR47x50+XF9ZdrI+x/slWOxyrHY5+3c9Og9
8zn8a9SPn+vQnhn1Z7BG89mr/LVr5a8YeOq4PWNVOVs19Nmq4ZypqnT4Vjp8h7fKWXnU/wtS5T8g
HR//AWnlqLrjSOVuI4fvbiMrKj1alR6tUXx97LG8R2DlfwF/nu8ROFZMFKfzEGK6mCnGiIU8ThB3
8Bgvvi/uEieKu3lMEK+IV9lylXhHTBbviQ/En/4/32m28njaY2BgYGQAgmOp20+B6FNPTHfDaABU
VgfqAAA=) format('woff'), url('../fonts/LHFGloria.ttf')  format('truetype'), url('../fonts/LHFGloria.svg#LHFGloria') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAD9oABAAAAAAj7wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAA+iAAAADwA
AABOgI9+/1BDTFQAAD7EAAAAMQAAADYlo2xqY21hcAAAH+AAAADzAAADEFVEGxRjdnQgAAAC9AAA
ABwAAAAcBvZjm2ZwZ20AAALgAAAAFAAAABSDM8JPZ2x5ZgAAA0gAABoCAAA+Ijj4jv9oZG14AAA8
FAAAAnQAAAaILnmMW2hlYWQAAD74AAAAMAAAADbii8braGhlYQAAPygAAAAfAAAAJAu1BVBobXR4
AAAeaAAAAMEAAAGQCnEYNmtlcm4AACDUAAAbPwAAPtDXbuFTbG9jYQAAHUwAAAEcAAABlAAMheRt
YXhwAAA/SAAAACAAAAAgAQ4BlW5hbWUAAAFsAAABcQAAAo4r887ScG9zdAAAHywAAACxAAAA+Bhf
eaRwcmVwAAADEAAAADcAAABDzqO4injaXZDBasJAFEVv1FjqonTZ5SyK0E2MoohLFaQbN+KmUAqj
DkkwZmRiFH+hm6676xd003U/pn/Sm8yUggN578zw7n2XALjz2vg7zwgceWjhzXENN/hwXMcjfhw3
OPPl2IfwRo6baHkvjq9oFdPNnqBytv4+Xh3XOPXuuI57fDtucObTsY9b78FxE7735Nj61+E1rl1+
yza/ZZvfss1v2ea3bPNbtvktV/6Ls07WcSKWeZGprTxJMZGRSttTLcZpKkwSxYdcGJUrc1QbLHCG
RoI1YlaBJXIUyKCwhcSJn8CENeJLijamnBYYk1N2Q01E5YGq8qbYFfuRdTNRK5lTrLCiQb5QUZFK
w42KmoJ6CXMxM5dro3dqk0gx09lBR0buY2VEP+iKcNAJh53eCHNOrrlEY1euYYQy5Iz3jEE0zQ1f
9oxVRhHo80d32UMM0GEdsvYwqlaLozK5TrJuEP6n4Oyx0ubVr8moDhBeRP0F0NFjcwAAAEABACx2
RSCwAyVFI2FoGCNoYEQt//gE7AC9AKYAvgCuALAAdwJOAoQChFpdAAEAA3jac+Dn4uLk5OBgZ2dj
Y2RkYGDs3cH4v9U1wwUTbWZmcmPQ3szKAiQ3MjEBRTaysABJANi9D6oAeNrtW3l0W9WZv/e++97T
vi+2ZdmWZEneJC+yLO9+SmI7mx2ykD1ACFsKNCEhpUmcNCXpUJrQQpcpBdqwlsMhJC6TQAORWyjQ
0k5ngDM90Ol0TumUtOdMSxcKLcR6me/eJ8nPsSjT/+bMSRw5luzofvf7ft/v+77fvUYErUWIXCfd
jAQko9VKHTYYFCORqYCRJAoCEamIZEnEBAsIYTTyidZMBRrqb+135Nlf3Nqf72cP1N6GF113GiFk
WHTd5kllxdpuZ+Y0Mpz/bve6lDPkjIacobXEoS7EV6j3Sze/f2St+AIiKAv/QaVnkYiMaK0SwSaT
YoY1jQZYmsgSLEoF0SBTySghgvGMAUPa6vlWf3/e34+SydL6Jv36Jra+25lyyhEhnfJmc7YHbDnS
SHL5+X9SX87lELOBfh6/Ih7jHhhW/NwDkiQSDA8BgysEhLG2LqwGf3ES/hQ3jMts2C2k+MdlwRPB
6+EBC9Sov2QPpO2ZZumvUQDVYqrcgevqlFBVTXVVZYXX47BbzCZZIri2pra6Oujz+mTZIImSX/JX
VFZWUYFiTOB/iqJUUSHW1NQGq4Ner88gGzxuj1EymlxOl93usFltZrPF7faYTO7aGpuViJhazOBH
UQhWBxx2EdGqSp/XJTor/B7BjU1GSRARthS86+8f4hvNFz/j25KGF0of0zNff9jr3EX6P0V3WVCd
3l11zF1YTkF4Im7+yKQy8HCD+9hDDkXklHB5w/eCL7bn2h+CxzPBMw3w6M51PwSP7wXVfQ/GHyQ/
eXtKfR03ssfU21N4lXqMPabeZpjNnn+MPCWOoB50pdKAe3uVPtRgiZtDdbIgCZGwKFAPQW2k2kHF
FhoKhwDt5kK4Oc4deYazAtJgJyWsmVGvfi+9fC8+WZK9kXQsHotnfH5fpivTle6Ms6exdCc8AxTC
y34ZnkfCsuT1+H3aB3mSXt6z6v6bBjrlU5ZEuGUw6h7p2b4m3p7s3nb/0o61pqcM9RUdnQHf4kD3
PN9INIOzD65P29duDG5d/0nrttYoIX3BrrHx9MdWDq++evMlWwLLlztbV3wmtDRRk4xmVq+va+3y
L5x3JeRa9vx/C4+K1cgKSGpEGdSHjihDuL9fGajt6+3r6enu6ZV7+7q7e/r6ugM2QZasSPB64jGh
vS3TJNTVCoAb0dQpRqrFhKmnO4KwVEAOeKw1z1zWmi9RQ/HBsTLNsTHjQwn1633Yz33okSLhWNrZ
2ZXq8HkFjy/V0QXPwF+SF8MrztL3/dqLTu1HxAhO4b2blOzGjdnsxp+GKipC7EG2ZjdsZC/eUnwl
//g2cuDjQqWycaOCr8lu3KSo97Hv4GvYZ9UPz+/Jrt/Av3cvf+ke9vmYmETAEtnzfxXiYhgl0SBa
jK5RGvGSJcpSOr89KWab3CIlaFSwtgpVGSE6JBr7xLoWKtcZEbYWfaR5SANVvpgf7FPBJ1a0RO+T
JdwnkuxLecNx2HkBSF0ZHaqYp/w+r8fOfs7flcEef9cQ4chjKHN3ZGJxSUObEE6MLer6+K7tB748
3t5qSFRWxqtNHoMxGlvYMzx2IBxY1tjdOrSstVK9r9diqWxoMVX2tFf7sj3K2LjLVeMPkPEffG7+
ias+sWdsy+atziUN0XWDVanGRPOqkcXR2rEFGeWma9KLlIM7rt+Nb+v+nN0eSvd2RD1D6abpmxdu
+UJN3XBfZyjO8pJ+Hv2B826PYseUKiLwO0YCKbI8Sz88Qx1Am3q3UM60KSGSPRHcJR5j3Mpy/WH8
bfGLyIt6FQf2+RS/yYQkYveasb3wpq2YOb34pnbk07+pr+Br7is3T1NS8DY+1dU0z2vY3Ny1Z7R7
/zJPoGdEXL991+mv9Xc/rf5i/ycHbz6Io7/P/Vu6d+LagiVPi3chN7fE41G81G20E4oM2FjWEiPy
6C3x8O35/C6vR5DkeJdGJEIs/uxwz/793SN7Mk3z/IYrmtLiXddOqG+//Xv1Zwd3Du7Z+9wDA93P
YvOu7cwGwUnaodLY0ColiO12xYFsVpORWqHIGFiVQaJgMWNsmCnrOuLmkCxi0oDseuvsGm/75bgc
z8Qz/nhKzpD2r11368JFh7Z9tfN231HfF4S/Bm644vbbr/h45Vfn3/v1YWYPjpAXhUeBOK9WmrHF
olihrzAgqF4ir0CCmRVbWWJ9h9EAxd9sEimWZ9BQqEbaP1oHUnSfjCx6Ay3cwJQ3AlwcSafSKfzy
9PQR+EseZ5+neYS2o/PoDFDQKFR9WVYMBFoeAl4hWKTS7HanVWt19GiU9evJvNEBcpcjmezU8CWJ
M2fuvJMjkrjJTeRVQPmA4tRQzhBeBucfgfSQN5QlbflXyKtTGtLPIxWsF9CQ4tbel2Ai8DeeZTme
3Z7NfecMeCmby53J8Xf9d3JWTMO7LlOqC9aCvaw1wgS6IViDGS7oDNfTemEVocwqQM0RsvSe/Lv3
iOkPHuF90Pl3yN30PV6FxmG16moliLweaPsCNmJFFVRwUpNJ0BUXjTYv6DglVK1frHpuBYnPqhLk
7sm9+05MTuw7/oKSSAwNJRIKrtl3/MQEOcZepglFSeRXss/MH+Dqo9CfGtASpQobjYpJht1Dawog
McjQoBrgB8hMU8qtY6gsJQ5BRr15Rq0hjqQHcSblfPP+BXsDh4QXDxnWDJ6r4uth8hhkbDO6QWnC
LS1KQm5uAl53uyoCksNsdjQ1kmYUInJUpC439Xg90BB6S8WXpwQrLLzc2l6wTdsKrdiMQV7Uojeo
hYOrk1cQr4cRH6shklf0hhjxDeGuYgvDCkkQRxZcsfK2iRM9tTtqB8IhpwHvzD/a5K5ob964pjlS
F8ksC5mfEQ49ednKZyYO3DLvgZZNqY6gTcCnn5CGgpHRvlv3bFk+0tPQtKGmqY3j7R3yTcBAB7pe
acGplNIZbXW7oPEOmU3QqoKnY1GXk3jcbSSZsIoViDZVNCGcuBARs3oN7v7idhMopd9uim032jGA
OyPpjkwX+1fbVpq7wO8LYuYEX+ELQNEAzvhrML721h/e2Nl2Q3+19/SCsSOfuWThSE3DqmTF5RsO
7Dt+ktK+k7sXP/fgQGZLcG8y0h0K/sOqK9Yv353edWl9ZesV7SNbDq9bPbm31tbS2s8nAExehCib
APv7lR5ssyl2IGWrBegOWcwWq2Q1sz4fYTNMQphwRuTcSDlPGuRZs9AFvKhLyNmRR8imd4WNRx6n
nJD/zogzFHUKWTye2707pz6Jx+/DPxaqps9OqX/Ctil8m7qbR+tP5HNgdyP6uJLETU1KszEWrfOI
uLHBS9yu6gAxGaP1wNskHquktkZE4w1xbEPYVTB1qIhQPlpo8SoWmqKVLtSkt7KJ57OzS4sOJLHM
WyAWFQhSqgOSvARNZ8iLXdWpQP1EX2rtqgMTK5adonKXw3VzgzvcUeGZIo20UX2nwWdes+R29U8Q
kvWrJ2pszUsqDbtxKlPvjIdjYfLEVIGb9gIuw6gTXQfITKeVLltb2GE3GVBLM9thOGQXbJ0RgyCT
Cj+lwTh1B90I+y9EZnGEKmyyuEs/Sut3mea7THOiCuICECM2zLs9oLEiNqGvgz1z3BbmB/xUeyLR
nh3fN5jB0gO79i1ftm5F5yBsXT3gr0wkKitg7+2VHuFEbXJoKPlB75qlt73+yQfXrQa62/jl+grw
QCC/I1kTCtUkf9MFLqiLowIP7YZIS2izEuO1EVFJZKoAFAMqUVErBjBWwgsSzMfiLGUAz8FgYdti
maqJvTiCQ2myW/3LaWxUP01/PXXuDdowpfXa75BHIQ4RlEYjaCt0DaOjykJUaxkSnI4uIVCVaAEe
TteTCGqg83tFbzsVfF4KRUPWG3ThPKLBrtQ5jOptGi0UkGbMcp/1frG49kUf1vODVy4Bj81wjCTd
2lBnwxo0M13k0ckJ+77jY6GWpU3ehZccsjPeqI0Bb+RSFc1LAo5YXdtYjVkiy1yV7bWVXiL4axYs
qK1iBWly746dq6MV8Q2towv2XLIe2GTBrrGwh7FJ5faYS4ln+wdjdYQurAiTqz4dMgR8w50r6ttS
zWgWfjs4fhmz0mRNsMJnszY1AnJJsNoqWDoiPsFLoJRQQ4wiqHIlCeCj8GspQ6tYS9BCfqa8vN4O
4OJzqHhd7gLCCzBO48sAqQ/tAdS+wGA8b2wCYEw3jKeOsqcNrshCl0jfA5DmV+07DqAN1CYHB5Pn
+tYs/ezraw6HfeprDNW/gdxd6rcU9KTz5BWu5VyqhLiWo+k4RBNyEAU2pRSgTMrKWdpe/4aYxbol
xpjZKfhz5gx5RdOQzm9DKqwrAadvUqLYbFYsmOlYbGUT8DdfGVpv2QB2SOIFvaWDVy1ckhhK65v1
65sL60OLqZmQW3BJy6Wsc7vzTvJqjuct9pGTwjNgx8cg6jxvWdryhhNcQJiIJzEpjQiyQEWRuQLR
YvbCRFJM3AsSuGRS+QS2Qg6nyUl1OT6Rv0N45uiTp76B7bczv+BT0PGv5PFYCTOIpi4WTBKQCLGB
gRnLVN8LF2JxoXRULhruNFA+PLLkUH6CHCLfP3JEffvIkbKewIVlKWxcFqGkUiAxkYrQ7SCt2iKh
ZMZHe6LcAOBmfkjgLNmZvwOfUJcLz6h/vF398zf+6STHyF/IP0JOhlAUbVDqcSymxGnAbzFX10fM
golEw5CRbkIjYVqPovUIV5cgotc6Z0kF1SimNyJWSkPeyRXaGq19Yy8U5kgBwIN33D0+eGKAkqk1
l0U8wbqBnkozfcq0ILmiedXUFH3vxtU3P39iYHkgtGTJt1ZvurJnKBttNsgLaxrqdl3SVWE9950p
Dfd3iUNiAvWhMfRpJYPHx5VlOBat92E0GI/h+qgUBU6MxdOCsVVwjJCaeWK4R5QWi54O0dIoVnks
0sw4DGzjKIlHXBxhPayh2MPObhOMaFy/83He16XYJiN1yOlAoQ4/LTQLklxSTaCKZlKCh3EP8wqQ
EXJqXIRLPa63QE70pn9xb73/vmPqr9Rb8VV44Du34Mrtn3rumrrW+pa+O5bOW7v1iRtHTbkb7b39
idrG3//grPr6bXf84T+eVg+GvVVd16RjvmBmXqP/uxWHlizE+3Ev7sbHFh1T73v5kWdWNrt8O678
yrNHpzbNzy9zDrXNW7vn5ffVF9X33rn76Ffw0gM7+xpSx/YcGkz2jzYUNGPyW/oWZJEJ7Va6OL+I
BpNRJGwykyCdOZolBmYZaXnN2AbArtHfzJTi7x/iZbA8wNHM3DKXe7AQcYfcETNJ4c7kiz/B9LWX
EleOHMF16i/oW+cCuI58U3Wxqg3WTsHUVAF1O4muhard2qq0uSzJ+ohQCRlYQ1yNxFBVSVEkLEbr
kwkKcyWu0E/cvFMsDFMaGDTsl5KvVW9da+GYocPvK2DfV/pKisR5qYHoNuP0zJdZHNi+fizkml8d
G2oJ2uRERFk4+sVlV0StDfUjy5atrTHHIt3L6Nm+jq3dY/uX1jkrRtuWxttuWZmNtzy7Jdyyta3l
1Oq61vGGKO+M/wCz7DuoFl2uxLmib6oOWMweSGdoUiCvod5CjvspclAZhkdUHKGHhrRC6y92xPrs
FsqI5WJpruXZrZtsecmV8I0XDLcvTDqKs+0XvsSH2xXsG0+c2He8iKwvQayMyI3WQMVkShVym6Ap
sNuIEZlNVHC7gCSh1YMiRmfFp9wBEC0jY7FxPATR8XlxQcptxuRLx/cyuX7iCfX6HYnBoZYduGVi
kp6d3JtH2RZyZ0LR+lBENoB1Zs7iTDEiMBhCBYGx2iAC5jmdM2Y3yIB3dkZk/nAYFVSj2Sw+VzYC
IHlDfCpihaVKfej8ebyJns2pj02pj+V0Vhkh2jF+ZiVQgQ1lRkmE0YDJR7zNgOENDEKl46OhQurN
NmbmJGnu0VUqUrRFzWmWaHYgHeZCMDsncTisREwWc7CamHSoq60poa46QGuCs6Gn2TILfrO0CwGF
9RaFPwp/kXTIWQaBW3Fi0jG5dy4G/5JTFzMUah49CvxmRlcqTTzOBpGyMQvmXpMsSMRogBibEeue
BGwyXshomvGluXKmhSNl4uuGaTfFPyLO81NTv5yaIu787+hb+d8Sz7kAcWv2IBXsEZCieLgOhnhg
58ZzlryGywhfEMKUmsvBm2kTNH6T/heyo0VKJXY4FCeCjdmsxI4g0ew22HJplBoqTMr9uhFeRA79
Ao6S2BXP+FK+zCBOO1P4zRMTCxOBOr+tKjl0Glfve8I+ySpEf0L4UdHXP+M5dViZx31tNItGg2w2
mQ0GI6sfEmsSZagiBtnADhXNZmQymYsBAWB/SAw0/19YV4rngXpN7MOC4k4ZcUSAoJz9oQqb/8+X
8BH1ZnpWzeLv5M/nA3i6YP8CcKfINTlJUqDgAQtoaYfmRqjIUvpMk/TrS2z9RgzLh8iCfD6HR6Ca
va6tJBwHT1nQNqUdW62KTbIYKesfodCCR4xGk4WhAtp8WeLH5ZgJ61jUGVByzOwzMJ1ChZFVb421
mPcBHAKfCBFBzWH75GNYzD1899P07PQ+4eC5KsEz/VvBVfDGjzkXMRbgXCRheMaaAi2I0OxTQWYp
ZJCBMpGR6bkzov+HG1iS/ufyEmZn6hEM9mHfB7kfqdM5MOwpYTEYFpn+OZjDe8M/Aj+9y/XdZdD7
M31X8HogoQM2sKiCyk4K3QuYYppdCy+oKKZyAu+sY0D3LIEX36Dxz+QvGfkwEqLvTrIBEl5lHKS+
wbhHY6CZCvgWRNnHZze/X6mgLqdJMBKL2WeFSggF0GhwOihUQ/gpXDwe1pWXotEzxGNGfr3V/mJn
HuTSAnMcq4JObvD1n1ux9Im9N+bwvX3tO3aAvW+tWfnppyYm1Qb6lvpae7+6TdEsPf8M+TZ41A2c
v04Jc86nMgxQgSpitYQ8QF011OinDtGBjTOz/AXCub7Ls5RheOwpHTV+qITeUNn6+c6hxRfq6MHl
w8HJdWHNz9/aS3WO1vz8LPjZgSrRXuhhq6qUAEDSaDCaJEY8ssHrsQlW4rBXOsHpPi+1miweN0V2
m1EwwH/DxTO8IQZZ7vlZrmfYtc0+ibCjKv3+qnRRkN0RoRiJUiC+sTh79ZF/3mkwsmDcUIjF0s8+
9ZmN+Z/jn2ItIDdq8cAc4SchHj0c3/xmQcwSNXsISpJqhyg1iXV1GMjUPBvf/NT3f3GNgNF6Epe9
RgBzTA0uc4mAXSMgI8lVif5tiwZGpZOWJL9IMNq9/bJ4087RrVcv7B6WTxnqq9rZRYLq7nnekZjL
HMDdBzcNVdkyiXuvst7Yrt0kGB9Lf2zDwuWXP742nYjsXxEaa65l1wjWhZMZ38iCusD8Yi35Ap9L
1ikRPt2zTkhkp3oyImy4Z1d4gB05L88iZX/psMShL6BzZ3zWVjCFGpteJuM/yNGGXO7cGwU1+m5Y
24kuUWqwy6W4bTDqUMFqIYAYimxWYLtZ/Y6/vwy9CMilX9JVanJSBbSzLyQgleOnGc5fnLQdnxBe
nu5hqBa+P53Zf6xQKYxgi4RuUFq52iAK7KCPa6WShDQaFiTt/g7UeMr0U2lWofKXHcnQTJmYqzeE
hFQApwQc+sVLXz/60q/oW9Ptwr+eCxQiQx2c1Q4r83ntwlC7ZDy7epktrNhrYm7BWosFmc0WXs1Q
oZrhkprqL2vm7JsdyZKuOreugbERM1R4ZrZbWPzSC6euv+rUay9t2fDSFjZBkmP5VdCHbSZH85sL
6PqAd4V7lAzvVJABygd0gqjgTW3SZX2IxLUt1qkYoV+EbfILa/Rv2j3nhISWaUxCzGC35mjywY/u
+uKP3nvv1SOHX30Pf17dQT5Btqn78MH8XcVseJ+fFi4unBYyFEDpZWfcSIu5vjEo9SUzMZ57WIi1
pQH/g/lXYF0YBKzkp+ogfj4fz79TWHUreMmIbgLssQ4AAakWRTZNEjAUQ0ypAVMwhXUIM6J9aZq7
UOyard2X6QO8GOaTNJPvt6oP4435N/Am9SH6Vm76y2fOCDfkCifV+FNiJ+BhLdQsnSLLmjYZiIHZ
Q6FpYTpc+RuGjo8QZd0hLsqGsnjwwAH1ebFzanr4DCqdZ3fqzrMJ0UmhgjD3IL7MeXb5myc4kv0a
sdwjdn7wzcIu94tp/S654syvEZYmwrnH83/XLp2hNLRdWTygfu/AATH9wQ9zwrP8Js0Y/ol4jGud
CU3rLLCPrGcfucg+UgGL4sytxr/NPWVVX3ckLkfcuOe+W0dHD90nHlMfePxxfLnm9SQ1nD+tu/NA
BH6tQkB/150HP1N2he+/dvgwf1e6Fa8WP6u7L8Rj+XfeF3JHsieu2SV+Vn3z/6uuxjU1Jq59qK5W
alov6moXdbWLutpFXe2irnZRV7uoq13U1S7qahd1tYu62kVd7aKudlFXu6ir/Z/X1d7Fr4vDqB4t
hzyNRpUYrav1ea0iFFkgdqE+UAUc4UO4tnins3TBcNZFtloU1a8fLf1CgJdXpsJtV5a0Xn6Rk9Fl
mvHmw4uGH1kzWBloilcHBtc8MrzI6B0e9hrp+OFM+mDbYvXPbYl2p72tpVN9Z0nyYDpz+LnrKnvE
zVJPxXWa/V9D70o7gSgGFVfhd01Y1zdH0vmoX2BxM03s5Elp5/sx7X1/B37pRzHgryCOx5UGXBP0
wdSNqyrdgkuIhKEFqbFh28yvYZVziw3F9SvF2UrI77Vh7WYdu1qW5kN3VyaJ+a8nprUC6Pfhr/c2
hy3ATIvnP7p2IN0YzwysfWR4MfDWy+JmGqh11NnnPXc403lrcgm2Jjc7HJdBF6y56PmsvYVrXT8n
j4jPQUcyX/Fy7UC0UptIRNksOhzyjO288ulTzVZOJ/ClujJ+Ka6VtXgXq2f4e353ffPWS6/rvWx+
Rahp64prWnvbxRtMuHd8B8Wd0cz4Noqrq/4HeS/q3gAAeNpV0Lsvw2EUh/HHnbrfqqrurWtLVVGU
UUSMBjGIGEUMYjIYTWISk5jEICaTmETEaDCIQQz+BBGDQTwkBr/kk9/wvud7znnh99v5LydXm5D7
CnnvUJCCwm3dQ9GinqF4XZ9QsqJLCFTIO6Ut2ocyc8q3oCIOlUGo+nEM1Y9QY07tjPzXLesJ6tcg
OA0NpxBagEbPw44TtqYprSuI7EKzOc0beoOWC2iN6BralqDdudvPocOszixEzYtaFzMrZo+uI+ie
1w30rOoFemd1C3327DvTF/SbEbdvwl0THzCwB4M18n7S3sk7GJqDVEDuOBySs6SdYSRf5o8ewNgh
ZKzLmDWelG85cQKTLjbpXFnfK/sAU96b7vjzDQO4PDt42mM6wBDBAAJNEMxoz+DIJMjgyNIEpL8w
ODK/AOIMBkdGQyD+CcQ/gOJFQDE2INsByN4EpIF6mNWB7JtA9gMg/QqIn0PUMJ0G4j1AvAuIX0DY
IH1ge75C1QBppusMjqwNQL4ukP0fYhbTFSCeA8Ug/gOoPiWgOhkg3Qqk3wMxH5J6oBuZ/gDxZyC+
ABFn9gL6JxBIWwOxFVBsFdCcAxA3M+4H8sWA8p5A9nT62c8kATTLDEIzPQNiYPCDMADNilB7AAAA
eNptzTVSAwEAQNG3G0Jwd3eXTZAEDRrc3WGggIaOo3E+yFDzZn79hf78fEv5z1u+QCimQFyhhCLF
SpQqU65CpSrVatSqU69BoybNWrRq065Dpy7devTq02/AoCHDRowaM27CpEgy/54ybcastIw58xYs
WrIsa8WqNes2bMrZsm3Hrj37Dhw6cuzEqTPnLly6cu3GrTv3Hjx68uwlCINY4uvzI4rSufjrezKV
+QU/LxiAAAAAeNrF0fcy3WEQxvHPKfkRogvRjy4EESXRy9F7SdEJF+LmXI5rwOtgjH/MGIPnj919
9t2dd2e+SMgo3iSWKapDJ5bxUTzKdC7vXh4Uu98S97RuNxOSPohkyfYx+Fyf5MlXoFCRYiVKfVam
3BcVKlWFK2rUqpNSr0GjJs1atGrzVbsO33Tq0u27Hj/06tNvwE+/DBoybMSoMeMmTJoKP06bMWvO
vAWLlixbsWrNug2btvz2x1//bNuxa8++A4eOHPvvNZTzzPm099CJ0xCTLkKMQo4F3mepwqur4FN3
+YZx5DzUjynnvDnl9Ison4QrXQOynDCZAHjaJdrNjyRrdhbw8haWt293V3fPzJ1xdVdVZnZVRtbH
zaqu8gIyMqsyIiMj8jPyozYsWCCExIIdC3awALFhB8ISEkhIwIIPCVaAkA0GzzDjD4wQxsbYA7b5
G0hO/EatfvrcNyLzfeN58z3xnPPco6Ojnzs6+oVfPfq5P/GXjv7U0Z/8hb989FX8+X78fXX0JvDr
+Pero7dH7wOPj34Q+P7oe4Efjr4T+PHoJPCT+0/FZ/Actoy3466vjjrwwviluCtOYM+dV8avxTfi
25jzq6P+0c8Hfjn8OPDh8JPA1KeG7hyJn+AzHBvPfEMOC+NTcSmu4Mydc+ML8VK8Mm9t3p159zFv
w8RJ4Ku4+iqYafC1/36Dp7dH33XtY+D7+OyrYOmbwJP491WMngZ+8g2n4jN4DlvG2+IOvICXsAsT
2HPnlfhafCO+Ncu3VtSPeV4d3Rm5j516dfQlVvTq6MHVR/HA1dRnh75nJH6Cz3BsPBPnsIBTWMIK
ztw5Fy/ES/HKLGvz1la1MbK1qp2V7F19ifjrYPhd4JvDX8VvE3+Iv18He82/n4ycis/gOWwZb8d3
fh3sNXhh/FLcFSew584r49fiG3Hf1bvD/wm8P/xx4MPh3wamxofuHImf4DMcG898Qw4L41NxKa7g
zJ1z4wvxUly7ujHv1rz7mPd18PC9wLfBwev4+03g+7j/ddz9PvBjnMTXwUZzz6n4DJ7DlvF2/AJf
BxsNfj78YeCFq5dGuuIE9tx/ZfxafCO+jd/162Dm+4F3h/8deH/4o8Avh/8U+HD45cDUNwx9aiR+
gs9wbDzzbTmcWEnh6tRIKa7gzP1z4wvxUryyktpKNlaytZKdlexjJW/8ct4cvTr8veY0Hn478K2T
eWz83eFvB76PsTcYf3N0Et/wJpj8TuAn95yKz+A5bBlvizvw8+HvBF6IL2EXJrDn/ivxtfhG/O3h
FwOb39ibYPLvB94f/kHgl8M/D3w4/N3AgfWk7h/67Ej8BJ/h2HgmzuHEegrxFJawgjP3z8UL8VK8
tp7aejbWs7WenfXsYz1vg8/vBL7F47H4Pf4+GP0Yv8m3wVszfio+g+ewZbwdO/g2eGvwc+za2+Ct
uXpppCtOYM/9V8avxTfifmTUt8FJc8/Q+Ej8BJ/h2Hjm/hxOzFW4OjVSiis4c//c+EK8FNcx17Gn
PvbUx5762FMfe+pjT33sqY899bGnPvbUx576OJ66iTuwOXfHnvo4nrrBLkxgz/1X4mvxjfjWW6Rv
PV8OPwx8OPwoMHV16M6R+Ak+w7HxTJzDidkL8RSWsIIz98/FC/FSvDL7z9jYmX0fs787eh2sxi/o
8NcCTw5/MbDJye9k43ey8TvZ+F0w0GAHfj70Ay/El7ALE3gFb2A/eH4Xp6D55tTICD7BZ5jBHE58
cyGewhJWcA6XsLaHTUZtfr/v7Oc3xr4bfz+IPkaeeS+jvo8nauIzeA5bxtviDvwcufp9PFcTX8Iu
TGDP/Vfia/GN+FYOajLq+8gDPw28jz16H7v8o8Amo76PZ2/uHPrUSPwEn+HYeCbO4cRKCvEUlrCC
M/fPxQvxUryyktpKNlaytZKdlTQZ9UMw9gPv6p9lzFfOwIf4c2z8fXD4gQ78EOw1v4VPxk/FZ/Ac
toy3xR14AS9hFyaw584r8bX4RnzrBDY68ENw9WuBD4dfD0xdHbpzJH6Cz3BsPBPnsIBTWMIKztw5
Fy/ES/HKvLV5d+bdx7yhbg5/JfB18HYSJ+L3A99FzjzxNjnxHjnxHjnxHjnxBjnxBjnx7jjx7jjx
7jjx7jjx1jjxvjg5uvWd3x7+fODdoQ68P2wCHw6Nbk3dM4JP8BlmMIcFnMISVnAOl3BllrVZNmbZ
mmV/qKjg7wX+LNcfi98dfi+w0SEf/QqaXf9+/P3k6qn4DJ7DlvF28Pkxnr3Bz4ffDbxw9dJIV5zA
nvuvjF+Lb8S3FM+3wfbH+A18E3h3+I3A+8N/Dfxy+HeBD4d/Epj6nqHPjsRP8BmOjWe+M4cT6ylc
nRopxRWcuX9ufCFeilfWs7ae2no21rO1np317GM9n4LDRqUdw/c/U//xlv+E0U/xpxk/FZ/Bc9gy
3hZ34OfD/wq8EF/CLkxgz/1X4mvxjbjvDd1o2k807afg6pcCH+DASlJ3Dn1qJH6Cz3BsPBPncGIl
hXgKS1jBmfvn4oV4Ka6tZGMlWyvZWcM+8FS9eaqWOqUyTmWYU5XmqQxzqtI8VWmeqjRPVZqnKs1T
leZpMNbEHfg55jpVb54GYw12YQJ77r8SX4tvxLfe602eOQ2u/mPgw+FXA1NXh+4ciZ/gMxwbz8Q5
nJi9EE9hCSs4c/9cvBAvxSuz12bfmX0fs59Fhvlb8Zxfx3eeR875rcA3h7/ZPPnhzwR+PrQCbw9/
EDgwMjGyipGWU9yiXVpOccv5bXkvttQRLee3pY5oqSNa6oiW89tyflvOb8tbr6WOaDm/LXVESx3R
cn5bzm/L+W05vy3nt+XktrzpWsHqDwNTV4fuHImf4DMcG8/EOZyYvRBPYQkrOHP/XLwQL8Urs9dm
35l9H7O3dS/atE5brdmO+5oa8o3aqanl23JcWy3fVsu31fJt2a7tHLf9Httq+bZavo3XtitttXxb
Ld9Wy7fV8m21fDsYa+68El+Lb8S3ZvnWSvpywZ2RppZvq+XbUcs3q30UD1xNfXboe0biJ/gMx8Yz
cQ4LOIUlrODMnXPxQrwUr8yytqraqjZGtla1s5K9Vb3QSV/J+6+o4a/ha/X5G3Vpw3AHwx0MdzDc
wXAHwx0MdzDcwXAHwx0MdzDccb2D4Q6GOxjuYLiD4Q6GOxjuYLiD4Q6GOxjuYLiD4Q6GOxjuYLiD
4Q6GOxjuYLiD4Q6GOxjuYLiD4Q6GOxjuYLiD4Q6GOxjuYLiD4Q6GOxjuYLiD4Q6GOxjuYLiD4c/B
8M8HNp2nzzEadb5O1Of47+8EHrv6PjLM5/iW7wY27+rP8bcZPxWfwXPYMt4Wd+AFvIRdmMCeO6/E
1+Ib8W2j+IPVZg392MnPwWqzzvuY/3Ow2lx9iPV+DlabOPWpoW8YiZ/gMxwbz8Q5LOAUlrCCM3fO
xQvxUrwyy9p6auvZWM/Wenau7q3nRZXy1eFXAl9FTX0RmfZfBb6J6vji6O3hvzRv38jGF6GC/nvg
+8N/aKqaw7+nZZvK9lNk7AtvsItgtcFz2DLe1jXowAvjl+KuOIE9d14ZvxbfiG8P/yzw28PvBN5F
Vr+It3mDD0ZSnx26fyR+gs9wbDzzPTksjE/FpbiCM3fOjS/ES/HK7Gtzbcy7hfsYuQyu/kLzJP/v
NwPfHf5G4G28py5jtcPAu8M68D7eSpex2qb3tHJ17erG1a2r+0PTk/qKJn6lTv4avtb9fKOL12SM
rozRlTG6MkZXxujKGF391a6M0ZUxujJGV3+1K2N0ZYyuverKGF2f6MoYXf3VrozR1V/tyhhdGaMr
Y3RljK6M0ZUxujJGV3+1K2N0ZYyujNHVX+3KGF0ZoytjdPVXuzJGV8boyhhdGaMrY3RljK7+alfG
6OqvdmWMrozRlTG6MkZXxujKGF0Zo6u/2pUxEgwnGE4wnGA4wXCC4QTDCYYTDCcYTjCcYDjBcILh
BMMJhhMMJxhOMJxgOMFw4nMJhhMMJxhOMJxgOMFwguEEwwmGEwwnGE4wnGA4wXCC4QTDCYYTDCcY
TjCcYDjBcILhBMMJhhMMJxhOMJxgOMFwguEEwwmGEwwnGE4wnGC4R832VM09VXOPpu3RtD2atkfT
9mjaHk3bo2l7NG2Ppu3RtD1ao+d92KNme6rmnl99z870qNmeqrlHzfZUzT1qtkfN9rgnPe5Jj5rt
UbM9arZHzfao2R4121M191TNPTq2p2ru0bE9OrZHx/ZUzT06tqdq7tGxPTq2xz3pcU+uIqP+YZPd
ojIK5R05tlnx134HDZ7Bc9iGHfj50DzbhfgSdmECr+AN7PNF7qJCuYqc89PAL4d/HfgAB2ZM3TmC
T/AZZjCHEzMW4iksYQXncAlrM27MuDXjzlz7wGu+xXVkxZ/6lb+lP34QeArP4DlsOkvXOkvX1PW1
ntI1dX1NXV/rJl3rI11Hdv2jwLvDbwY2VfB1nI6m4/xw+KeBj+KBGVOfHcEn+Awz35PDwshUXIor
ODeyhGszbsy4NePOLHszvuh0vz78t+aNdfi1wLeH3w98d/gfge8P/1d99drv8hunvcEzeA7bsAMv
4CXswgRewRt4G5X7TfDwe4F38V6+CR7+c+AXftjD4R8FPnJ3BuZNfWoEn+AzzGAOCziFJazgHC7h
yrxr827MuzXvzrx7877EvLdc01td5FuezW385v848KM+4CdXT8Vn8By2jLfFHdjU/reN4gi8hF2Y
wJ77r8TX4htx0xu9DWb+Z+B97MVtnIVfDmzOwm2chWYlqTuHPjUSP8FnODaeiXM4sZJCPIUlrODM
/XPxQrwU11aysZKtleyspDkjketDRXwbv5kq8OTw5wI/BlffBjMNnsFz2IYd+PkwDbwQX8IuTOAV
vIH92Itv43mbb06NjOATfIYZzOHENxfiKSxhBedwCWuuYaPA+xR4nwLve5P2KfA+Bd6nwPsUeJ8C
71PgfQq8T4H3KfA+Bd6nwPsUeJ8C71Pgfeqm7w3cp8D7FHifAu9T4H0KvE+B9ynwPgXep8D7FHif
Au9T4H0KvE+B9ynwPgXep8D7FHifAu9T4H0KvE+B9ynwPgXep8D7FHifAu9T4H0KvE+B9ynwPgXe
p8D7FHifAu9T4HdHX0fGuItfxa8Evjn89Wb1kT/v4rexDGz6jnd6QncchzuOw53q/E4FeRe/jT8d
eCG+hF2YwCt4A28PvxXY7M9d/EKa70+Nj+ATfIYZzOHE9xfiKSxhBedwCVe+v3Ef7uO5/iDwdeSK
+3iuXwxssuJ9PNefDWz6xvf6xvf6xvf6xvf6xvf6xvfxXC+BF+JL2IUJvII38Pbw24HNL+4+nqv5
/tT4CD7BZ5jBHE58fyGewhJWcA6XcOX7G/fwS1RMP25ybjzpl3i6f9O8hw7/OPD48OuNYjv8KPDD
4YeBTd77ElXSTwJPxWfwHLaMt8UdeAEvYRcmsGfGK/G1+EZ8G/XaF3nvi8z2JWqi5jtH4if4DMfG
M3EOCziFJazgzPfPxQvxUrwyV5PZHoKBnzQnKhh4iF3+l41CPfzDwDeH7wU2PDwED78U2PDwEDte
BDbK5yHY+HHgqfgMnsOW8ba4AxsV9EAFPVBBD1TQAxX0gJMHWugBJw8U0UNw8i8C+/7Pj4F5U+ND
94zET/AZjo1n4hxOzFuIp7CEFZy5fy5eiJfilXlr/6/Jm8N9YLP7j/b90b4/2vdHO/5oxx/t+KMd
f7Tjj3b80V4/2uVH+/tofx/t7KOdfbSzj/b00Z4+2tNHe/poTx/t6aPdfLSPj3ZwwM0ZcHMG3JwB
N2fgVA6cyoFTOXAqB07lwKkcOI8D53HgPA6cx4HzOHAeB9ycATdnwM0ZcHMG3JyBszlwNgfO5sDZ
HDibA2dz4FQOnMqBUzlwKgdO5cCpHHBzBtycATdnwM0ZcHNSfeCUm5PqA6fcnFQ3OOXmpNycVDc4
5eak3JyUm5PqBqe6walucMrNSbk5qW5wys1JuTmpbnCqG5zqBqe6walucMrNSfWEU25OSsem3JyU
m5Nyc1L94ZSbk3JzUm5Oqj+c6g+n+sMpNyfl5qT6wyk3J+XmpPrDqf5wqj+c6g+n+sMpNyfVJU65
OSmVm3JzUm7OkJsz5OYMuTlDbs6QmzPk5gx5F0NuzpCbM+TmDPWSh/qdQ4puyM0ZcnOGuhpDlfeQ
mzPk5gy5OUNuzpCmGHJzhtycITdnyM0ZcnOG9nbIzRlyc4bcnCE3Z8jNGXJzhtycIUU35OYMuTlD
bs6QmzPk5gy5OUNuzpCbM+TmDLk5Q27OkJsz5OaM1L8jbs5I5TtS+Y5UviOV70jlO1L5jlS+I5Xv
SOU7UvmO9NpH+sEjbs5I/Tvi5ozUvyP170j9O+LmjNS/I9XGiPoeqX9H3JwRN2ek/h2pf0fq35H6
d6T+Hal/R9ycETdnxM0ZqYJH3JyRKnikCh6pgkfcnJEqeMTNGamCR6rgETdnxM154uY8c3OeuTnP
3Jxnbs4zN+eZm/PMzXnm5jxzc8ZO8ZibM3aKx87vmJszVl2Ond+xGnOsxhyrMcfO79j5HTu/Y27O
WL05dn7H6s2xenPs/I6d37HzO3Z+x87v2Mkdc3PG3JyxSnPstI7Vm2P15li9OXZax07r2Gkdc3PG
as+x0zpWe47VnmOndey0jp3WsdM6dlrHzumYmzPm5mS8hkxfK9PXyngNGa8h09fK9LUyfa1MXyvT
18r0tTJeQ6avlelrZfpaGa8h09fK9LUyfa1MXyvT18r0tTIdnUw/I1PrZyrdTF8r09fKaP9MXyvT
18r0tTJeQ6avlelrZXJwJrtkTkmmr5Xpa2V2O7PeTF8r09fK9LUyfa1MXyvjNWT6WhmvIdPXyvS1
Mn2tTF8r09fK9LUyfa2M15Dpa+UYzjGcYzjHcI7hHMM5hnMM5xjOMZxjOMdwjuEcwzmGcwznGM4x
nGM4x3CO4RzDOYZzDOcYzjGcYzjHcI7hHMM5hnMM5xjOMZxjOMdwjuEcwzmGcwznGM4xnFt1juEc
wzmGcwznGM4xnGM4x3CO4RzDOYZzDOcYzjGcYzjH8EQtOVFLTtSSE7XkRC05UUtO1JITteRELTlR
S07UkhO15EQtOVFLTtSSE7XkRC05UUtO1JITteRELTlRS07UkhO15EQtOVFLTtSSE7XkRC05UUtO
1JITteSEdpioJSey+0QtOVFLTtSSE+ds4rcwUUtO1JITteRELTlRS07UkhO15EQtOVFLTtSSE7Xk
RC05UUtO1JITteRELVlwcwpuTsHNKbg5BTen4OYU3JyCm1NwcwpuTsHNKbg5BTen4OYU3JyCm1Nw
cwpuTsHNKXgUhT56wc0puDkFN6fg5hTcnIKbU3BzCm5Owc0paLSCm1N4fxbcnIKbU3BzClmtcPIK
bk7BzSm4OQU3p+DmFNycgptTcHMKbk7BzSm4OQU3p+DmTLk5U27OlJsz5eZMuTlTbs6UmzPl5ky5
OVNuzpSbM+XmTLk5Ja+hlDFKGaPkNZR+1aWMUcoYpYxRyhiljFHKGCWvoZQxShmjlDFKXkMpY5Qy
RiljlDJGKWOUMkbJayhljFIXtpQxShmjlDFKGaOUMUoZo5QxSl5DKWOUMkYpY5S8hlLGKGWMUsYo
eQ2ljFHKGKVfUCljlJ6jlDFKXkMpY5S8hlLGKGWMUsYoZYxSxihljFLGKHkNpYxRYbjCcIXhCsMV
hisMVxiuMFxhuMJwheEKwxWGKwxXGK4wXGG4wnCF4QrDFYYrDFcYrjBcYbjCcIXhCsMVhisMVxiu
MFxhuMJwheEKwxWGKwxXGK4wXGG4wnCF4QrDFYYrDFeepsJwheEKwxWGKwxXGK4wXGG4wnCF4QrD
FYZn1OyMmzPj5sxo2hlNO6NpZzTtjKad0bQzmnZG085o2hlNO+PmzLg5M2p2xs2ZUbMzanZGzc54
IzNqdqZrPqNmZ9TsjJsz4+bMqNkZNTujZmfU7IyanVGzMxpn5j08o2Nn3JyZ0zbzi5jRsTNuzoyO
nXFzZnTsjI6dcXNm3Jw5N2fOzZlzc+Z6GnPdjLluxlw3Y66PMdfHmOtjzPUx5voYc32MuT7GXAdj
rncx17WYc3Pm3Jw5N2eugz3n5sx1M+b6GHN9jLk+xpwGnNMpcx2MuQ7GXAdjLhvNnZi53sVc12Ku
XzHn5sy5OXNuzlynesHNWXBzFtycBb29oLQXlPaC0l5wcxbcnAV1veDmLKjrBXW94OYsuDkLbs6C
m7NQBS+4OQtuzoKbs+DmLGjsBXW9oK4X1PWCm7Pg5iwo6gU3Z0FRLyjqBTdnwc1ZcHMW3JyFOnfB
zVlwcxbcnCU3Z8nNWXJzltycpb7lkpuz5OYsuTlLbs6Sm7Pk5iy5OUtuzpKbs+TmLLk5S27Okpuz
5OYsuTlLbs6Sm7Pk5iy5OUtuzpKbs+TmLLk5S27Okpuz5OYsuTlLbs6Sm7Pk5iy5OUtuzpKbs+Tm
LLk5S27Okpuz5OYsuTlLbs6Km7Pi5qy4OStuzkpfa8XNWelurXS3VrpbK27OSo9rpce1UvuvdLpW
Ol0rna6VTteKm7PS71pxc1a6XitdrxU3Z8XNWXFzVs7Cipuz0stZcXNWqu2VzthKZ2ylalypflYU
+krtv9IlW+mSrbyHV94VK3lupVe24uasdMxWOmYrbs6Km7Pi5qyckTU3Z83NWXNz1tycNTdnzc1Z
c3PW3Jw1N2fNzVlzc9bcnDU3Z83NWXNz1tycNY9lzc1Zc3PW3Jw1N2fNzVmr/NaqkzU3Z83NWXNz
1jTI2ntyzc1Zc3PW3JyaAq8p8JoCr71Jawq8psBrCrymwGsKvKbAawq8psBrCrymwGsKvKbAawq8
psBrCrymwGsKvKbAawq8psBrCrymwGsKvKbAawq8psBrCrymwGsKvKbAawq8psBrCrymwGsKvKbA
awq8psBraqumCGoKvKbAawq8psBrCrymwGsKvKbAawq8psBrCrymwDfcnA03Z8PN2XBzNtycDTdn
w83ZcHM23JwNN2fDzdlwczbcnA03Z8PN2XBzNtycDTdnw83ZcHM23JyNvuZGz2nDzdlwczaq/40K
dcPN2XBzNtycDR26oZU23JwNN2fDzdnY/y03Z8vN2XJztrLilpuz1Tfe6htv9Y23+sZbfeOtvvGW
m7PVPd7qHm91j7e6x1vd463u8Zabs+XmbLk5Wx3jrY7xVsd4q2O81THe6hhvuTlbfeOtvvFW33ir
b7zVN97qG2+5OVu/6B03Z8fL2HFzdtycHRdjx83ZcTF28t6Om7OT93by3k7e23FzdvLeTt7byXg7
GW8n4+1kvB3nYifj7TgXOxlvx83ZyXs7mW3HzdnJbDuZbSez7bg5O5ltJ7Pt5LSdnLaT03Zy2o5b
sZPTdtyKnZy24+bsZLY9N2ePgT03Z8/N2XNz9njYc3P2eNhzc/aUz56bs6d/9vTPnv7Zc3P2VNCe
CtpTQXsqaE8F7amgPRW0x8meFtrjZE8R7bk5e7poz83Z0z97bs6eCtpTQXsqaM/N2dNCe1poTwvt
aaE9LbSnhfa00B4/e4poj589XbTn5uzlxRduzovdf7HvL/b9xb6/2PEXO/5ix1/s+Isdf7HjL/b6
xS6/2N8X+/tiZ1/s7IudfbGnL/b0xZ6+2NMXe/piT1/s5ot9fGl28P8D0Jsq0gB42n2TW5LjMAhF
1ZYQT9lO0q8lzv5XMBfJ+XRTlRToAkeFcCnlLKX8U6Xy8bFVpt63WhttbSOqBGuN2ralp1dIW6XW
6W2Mw0q1cv1D3zKjFLPJaULct4bcjba+OGmLY+/aDV34HXTpyOy1Sb3X24bbtlLc++RoFwaHegWn
tw5DJtUtPb/Cnn2kX8aafcDR+oeOo+REJKfiysoVHMYFOTk8c2tNJ3hFuASTpj9/iuPGjbTe6xjN
5IzBk+Osgmn1yeHGnKUMTnpDVoiHYNznMjGRybF2r1OiqZR9vzhimhzBqwoTsmZurSLCu6wIfaQb
/Dxkcfw3aeTtXn9zjkOS00M8OZwcFZKVuThy6Arx4MIul2moYkzUo93rHUfJOc/ktD7UreZMccHJ
0ZnbmqrKqSuShqk4/DwUG/ifHLrX8dRYjFIeDy0bdmLXcLy+JMe068zUxdGHrVAbm4ReZsNMyKgP
utfB0eQ8n5PDh43JsabJMc1S09bMTJ9mqzT7DPh5qL67I7PzTvc6VgqLUcrrZZNz2oiWOwKOW7eZ
eXHs5Su0hqnsGaT5kRzvfNC9Do4l5/MzOSSn78lRxyDc2D2z3YjS+wxffUhWnynHGWHgyNnvdWni
yfn68sl5+DHy9QOccHCydHLC/StmoTtJ2JFB2sg+HDw5dzpWCgtYyvf34jzj3MGxIKfhEpHZ4UTp
fY+YfbBYYSf8KY/HGM6D5dHvdXAiOT8/kRx9XZyRnAAnSydnRPyMEbOadPgJf9r+3CdHn3yvK9DJ
+f1dnM/xOPAZ+KCgPWRkJRBE6f3uq88gTP8Bf8r7a0fmLvriex0cfEal/Afq5jRqeNpjYGDKYZzA
wMrAwLSHqYuBgaEHQjPeZTBi+MWAChiROQWVRcUMDgwKDPVMe/5bMKSwlTBcBgC1gAyDeNpjYGRg
aGAAgiaWpwwMCQwsT5lKnVKTEosVEOA/EJj////PydUpyMAApBgAaKUPlAAAAHjaY2BkYGAA4iWz
jpbH89t8ZZBkbQCKMOzn35+KoP/rsdqzlQC5nAxMINUAQOoKlXjaY2BkYGAr+a/LwMDawMDAYMdq
zwAUQQEpAEmsAxQAAAEAAABkAE4ABQAAAAAAAgAIAEAACgAAAJEBBAABAAE=) format('woff'), url('../fonts/Bebas.ttf')  format('truetype'), url('../fonts/Bebas.svg#Bebas') format('svg');
  font-weight: normal;
  font-style: normal;
}





/*************************************

MEDIA QUERIES

**************************************/

/*--****** EXTRA SMALL DEVICES ******--*/

@media screen and (max-width: 767px){
	
	.content { max-width: 90%, margin-top: 17%; }

}

@media (min-width: 768px) and (max-width: 991px){
	
	.content { max-width: 90%, margin-top: 17%; }
	
}